{% load i18n %}
<!-- login -->
<!DOCTYPE html>
<html style="--bs-primary: rgb(245, 197, 72);--bs-primary-rgb: 245,197,72;--bs-body-bg: rgb(244, 244, 243);--bs-success: rgb(134, 81, 64) ;--bs-success-rgb: 134,81,64;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% trans "台大工具箱" %}</title>
    {% if alert %}
        <script type="text/javascript">
            alert({{ sign_up_message|safe }});
        </script>
    {% endif %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="/static/fonts/material-icons.min.css">
</head>
<style>
    #language {
        background-color: transparent;
        border-color: transparent;
        outline: none;
        font-size: 14px;
    }
    #btn_more {
        background-color: #865140;
        color: #f4f4f3;
        width: 120px;
    }
    #btn_more:hover {
        background-color: #5a3224;
        box-shadow: 1px 2px 3px #d4d3d3;
    }
    .introduction_img {
        display: grid;
        height: 100%;
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }

    #btn_join {
        background-color: #f0b401;
        color: #f4f4f3;
        width: 169px;
        font-size: 20px;
        position: absolute;
        bottom: 4%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 1px 2px 3px #d4d3d3;
    }
    #btn_join:hover {
        background-color: #daa000;
        box-shadow: 1px 2px 3px #d4d3d3;
    }

    #btn_join_mobile {
        background-color: #f0b401;
        color: #f4f4f3;
        width: 169px;
        font-size: 20px;
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 1px 2px 3px #d4d3d3;
    }
    #btn_join_mobile:hover {
        background-color: #daa000;
        box-shadow: 1px 2px 3px #d4d3d3;
    }
</style>
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72" style="background: rgb(244, 244, 243);">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" style="background: rgb(244,244,243);height: 70px;border-radius: 0px;border-style: outset;border-top-style: none;border-right-style: none;border-bottom-width: 1px;border-bottom-style: solid;border-left-style: none;border-left-color: rgb(165, 141, 141);">
        <div class="container-fluid"><a class="navbar-brand" href="/toolfamily/"><img src="/static/images/logo_1.png" style="width: 100px;margin-top: 0px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
           <div class="collapse navbar-collapse d-md-flex d-lg-flex justify-content-md-end align-items-md-center justify-content-lg-end align-items-lg-center" id="navcol-1"><i class="material-icons" style="font-size: 15px;">language</i>
             <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                 <input name="next" type="hidden" value="{{ redirect_to }}">
                 <select id="language" name="language" onchange="this.form.submit()">
                     {% get_current_language as LANGUAGE_CODE %}
                     {% get_available_languages as LANGUAGES %}
                     {% get_language_info_list for LANGUAGES as languages %}
                     {% for language in languages %}
                         <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                             {{ language.name_local }}
                         </option>
                     {% endfor %}
                 </select>
                 <!-- <input type="submit" value="Go"> -->
             </form>
               <!-- <ul class="navbar-nav">
                   {% for language in languages %}
                   <li class="nav-item">
                     <a class="nav-link" href="/{{ language.code }}/toolfamily/" style="font-size: 12px;margin-left: -2px;margin-right: 8px;" {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
                       {{ language.name_local }}
                     </a>
                   </li>
                   {% endfor %}
               </ul> -->
            </div>
        </div>
    </nav>

    <section class="d-flex justify-content-center align-items-center align-content-center align-self-center me-auto portfolio" id="portfolio" style="--bs-primary: rgb(245, 197, 72);--bs-primary-rgb: 24,188,156;margin-top: 54px;">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 col-lg-6" style="width: 600px;">
                {% load static %}
                <div class="container" style="text-align: center; width: 600px;margin-top: 111px;"><img src="{% static 'images/logo_1.png' %}" style="margin-left: -20px; width: 600px;">
                    <hr style="margin-top: 32px;border-width: 2px;border-top-width: 2px;border-top-color: rgb(165, 141, 141);border-right-width: 2px;border-right-color: rgb(165, 141, 141);border-bottom-width: 2px;border-bottom-color: rgb(165, 141, 141);border-left-width: 2px;border-left-color: rgb(165, 141, 141);">
                    <h5 class="text-center font-weight-light mb-0" style="margin-top: 8px;color: rgb(136, 110, 104);"><strong>{% trans "專屬台大人的委託平台" %}</strong><br></h5>
                    <button class="btn mt-3" id="btn_more">{% trans "了解更多" %}</button>
                </div>
            </div>
            <div class="col-md-10" style="height: 500px;width: 600px;">
                <div class="container" style="width: 400px;margin-right: 0px;margin-left: 89px;margin-top: 35px;padding: 0px;padding-top: 0px;padding-right: 154px;color: rgb(165, 141, 141);">
                    {% load static %}
                    <h1 style="font-family: Montserrat, sans-serif;text-align: center;color: rgb(123, 99, 99);font-size: 50px;margin-right: -150px;">{% trans "會員登入" %}</h1><img class="img-fluid mb-5" src="{% static 'images/default_icon_1_small.png' %}" style="margin-left: 142px;margin-right: 0px;margin-top: 20px;height: 93px;">
                    <div style="margin-right: -48px;height: 210px;margin-top: -19px;margin-left: 24px;">
                        <span style="color: Tomato; margin-left: 82px;">
                            {% if messages %}
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            {% endif %}
                        </span>
                        <form action="" method="post" style="width: 252px;height: 156px;margin-left: 82px;">
                            {% csrf_token %}
                            {% load static %}
                            <div class="mb-0 form-floating controls pb-2" style="border-bottom-width: 0px;height: 131px;"><img src="{% static 'images/Rectangle%207.png' %}" style="margin: -38px;margin-top: -14px;border-radius: 0px;margin-left: -38px;">
                                <div class="row" style="height: 56px;margin-top: -16px;">
                                    <div class="col" style="height: 36px;"><input class="form-control" type="email" name="username" id="username" required=true placeholder="{% trans "電子信箱" %}" style="font-size: 16px;width: 216px;"/></div>
                                    {% load static %}
                                </div><img src="{% static 'images/Rectangle%207.png' %}" style="margin: -38px;margin-top: -11px;border-radius: 0px;margin-left: -38px;">
                                <div class="row" style="margin-top: -15px;">
                                    <div class="col" style="height: 36px;"><input class="form-control" type="password" id="password" name="password" placeholder="{% trans "輸入密碼" %}" style="font-size: 16px;padding-top: 6px;height: 36px;width: 216px;" required=true /></div>
                                </div>
                            </div><a href="/toolfamily/forget/" style="color: rgb(123, 99, 99);margin-left: -34px;">{% trans "忘記密碼？" %}</a>
                            <div class="control-group" style="height: 60px;width: 191px;margin-left: -2px;"><button class="btn btn-primary" type="submit" style="background: rgb(245, 197, 72);border-top-color: rgb(245, 197, 72);border-right-color: rgb(245, 197, 72);border-bottom-color: rgb(245, 197, 72);border-left-color: rgb(245, 197, 72);width: 189.9844px;border-radius: 8px;margin-left: 0px;margin-top: 14px;height: 32px;text-align: center;font-size: 19px;line-height: 17.5px;">{% trans "登入" %}</button></div>
                            <a href="/toolfamily/register/" style="color: rgb(123, 99, 99);text-align: center; margin-top: -2px;"><strong>{% trans "還不是會員？" %}</strong>{% trans "註冊" %}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div id="introduction" class="d-none d-md-block introduction" style="margin-top:200px;position: relative;">
        <img id="introduction_img_1" class="introduction_img" src="/static/images/login_img_1.jpg" style="padding:0;">
        <img id="introduction_img_2" class="introduction_img" src="/static/images/login_img_2.jpg" style="padding:0;">
        <button class="btn mt-3" id="btn_join">{% trans "立即加入" %}</button>
    </div>

    <div id="introduction_mobile" class="d-md-none introduction" style="margin-top:200px;position: relative;">
        <img id="introduction_img_mobile_1" class="introduction_img" src="/static/images/login_img_mobile_1.jpg" style="padding:0;">
        <img id="introduction_img_mobile_2" class="introduction_img" src="/static/images/login_img_mobile_2.jpg" style="padding:0;">
        <button class="btn mt-3" id="btn_join_mobile">{% trans "立即加入" %}</button>
    </div>

    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/js/freelancer.js"></script>
    <script>
        $(document).ready(function(){
    
            $('#btn_more').click(function(){
                var windowsize = $(window).width();
                if (windowsize >= 768) {
                    var elem = document.getElementById('introduction');
                    window.scrollTo(0, position(elem))
                }
                else{
                    var elem = document.getElementById('introduction_mobile');
                    window.scrollTo(0, position(elem))
                }
            })

            $('#btn_join').click(function(){
                window.scrollTo(0, 0)
            })

            $('#btn_join_mobile').click(function(){
                window.scrollTo(0, 0)
            })

            if($('#language option').filter(':selected').val() == 'en'){
                $('#introduction_img_1').attr('src', '/static/images/login_img_1_en.jpg')
                $('#introduction_img_2').attr('src', '/static/images/login_img_2_en.jpg')
                $('#introduction_img_mobile_1').attr('src', '/static/images/login_img_mobile_1_en.jpg')
                $('#introduction_img_mobile_2').attr('src', '/static/images/login_img_mobile_2_en.jpg')
            }

        });

        function position(elem) { 
            var left = 0, 
                top = 0; 

            do { 
                left += elem.offsetLeft-elem.scrollLeft; 
                top += elem.offsetTop-elem.scrollTop; 
            } while ( elem = elem.offsetParent ); 

            return top-50; 
            } 


    </script>

</body>

</html>
