input::-webkit-input-placeholder {
    font-size: 14px;
}
textarea::placeholder {
    font-size:14px;
}
textarea{
    padding: 10px;
    resize: none;
}
input[type="text"] {
    border-color: #7B6363 ;
}

:focus {
    -webkit-tap-highlight-color: transparent;
}

.cn_font {
    font-family: Microsoft JhengHei;
}

.en_font{
    font-family: Simonetta;
  }


.error {
    color: #dc3545;
    border-color: #dc3545 !important;
 }


.upload-img {
    max-width: 300px;
    max-height: 100px;
}

.btn-upload-delete {
    background-color: #7e77759c;
    color: #ffffff;
    font-size: 10px;
    border-radius: 50%;
    border-color: transparent;
}

button span {
    pointer-events: none;
}

#case_new_form {
    background: #ffffff;
    border-radius: 2rem;
    width: 80%;
    box-shadow: 1px 3px 4px #5e4949;
    margin-bottom: 25px !important;
    margin:auto;
    display: flex;
    flex-direction: column
}

#input-location {
    width:95%;
    border-color: #7B6363;
}

#input-preference {
    width:95%;
    border-color: #7B6363 !important;
}

#input-description {
    border-color: #7B6363 !important;
}

.notify {
    margin-left: 40px;
    margin-right: 40px;
}
.text-notify {
    font-size: 12px;
    color: #a58d8d;
    margin-bottom: 0px;
    display: inline-block;
}
.icon-notify {
    color: #a58d8d;
    font-size: 14px;
}

.radio-check{
    width: 15px;
    height:15px;
    margin-left: 3px;
}

.input-number {
    width: 95%;
    font-size: 16px;
    border-color: #7B6363;
    height: 100%;
    padding-left: 20px;
    padding-right: 5px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
}
.form-group {
    margin-top: 20px;
}

.select {
    width: 95%;
    font-size: 16px;
    background: #ebe7e6;
    color: #5e4949;
}
.select:hover {
    background: #d8d2d0;
}
option {
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
options {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.highlight {
    background-color: #d8d2d0 !important;
}

.text-danger {
    color: #dc3545!important;
}

.valid-error {
    border-color: #dc3545!important;
}
