{% extends "base_generic.html" %}
{% load i18n %}
<!-- applicant -->
<!DOCTYPE html>
<html lang="en">
{% load static %}
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% trans "台大工具箱" %}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fonts/material-icons.min.css">
    <link rel="stylesheet" href="/static/css/take-styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
    /* image */
    .img-circular{
        width: 43px;
        height: 43px;
        background-image: url('/static/images/default_icon_1.png');
        background-size: cover;
        display: block;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
    }
    /* address style */
    a.link_title:link{
    color:rgba(134, 81, 64);
    text-decoration: none;
    }
    a.link_title:visited{
    color:rgba(134, 81, 64);
    }
    a.link_title:hover{
    color:rgb(204,195,190);
    }

    /* star */
    .checked {
    color: #f6b902;
    }
    .unchecked {
    color: #f6b902;
    }
    .helfchecked {
    color: #f6b902;
    }
    fieldset, label { margin: 0; padding: 0; }

    h1 { font-size: 1.5em; margin: 10px; }
    @media screen and (min-width: 991px){
        .screenM{
            margin-right: 15px;
            margin-left: 15px;
        }
    }
</style>

<script>
    function msToTime(ms) {
        let seconds = (ms / 1000).toFixed(0);
        let minutes = (ms / (1000 * 60)).toFixed(0);
        let hours = (ms / (1000 * 60 * 60)).toFixed(0);
        let days = (ms / (1000 * 60 * 60 * 24)).toFixed(0);
        if (seconds < 60) return seconds + " {% trans '秒' %}";
        else if (minutes < 60) return minutes + " {% trans '分鐘' %}";
        else if (hours < 24) return hours + " {% trans '小時' %}";
        else return days + " {% trans '天' %}"
    }
    function getStar(starId,value){
        if (value =="None"){
            value = 0;
        }
        var stringA = "<span class='fa fa-star checked'></span>"
        var stringB = "<span class='fa fa-star-o unchecked'></span>"
        var stringC = "<span class='fa fa-star-half-o helfchecked'></span>"
        var result = ""
        valueInt = parseInt(value)
        for (i = 0; i < valueInt; i++){
            result= result+stringA
        }
        if ((value-valueInt)!=0){
            result= result+stringC
        }
        var los = 5-Math.ceil(value)
        for(j = 0; j<los; j++){
            result = result+stringB
        }

        document.getElementById(starId).innerHTML=result
    }
</script>

<body style="background: rgb(244,244,243);">
     <!-- --------Image Board-------- -->
     <div class="container" style="margin-top: 50PX;height: 100px;width: 100%;margin-right: 0px;margin-left: 0px;padding-right: 0px;padding-left: 0px;max-width: none;">
        <div class="row" style="height: 100px;width: 100%;margin: 0px;">
            <div class="col" style="height: 100px;width: 100%;padding: 0px;"><img src="\static\images\ntu_1.png" style="width: 100%;height: 100px;"></div>
        </div>
    </div>
    <div class="container-fuild" >
        <div class="screenM row">
            <div class="d-none d-md-block col-sm-2 justify-content-center " style="margin-top: 30px;">
                <ul class="list-group borderless rounded" style="font-size: 16px;line-height: 30px; text-align: center;display:block; box-shadow: 2px 2px rgba(196, 190, 190, 0.81);">
                    <li class="list-group-item member " m="1" ><a class="link_title" href="{%url 'my-user-profile'%}" >{% trans "會員中心" %}</a></li>
                    <li class="list-group-item"><a class="link_title" href="{%url 'user-publish-record'%}" >{% trans "我的委託" %}</a></li>
                    <li class="list-group-item"><a class="link_title" href="{%url 'user-take-record'%}">{% trans "我的接案" %}</a></li>
                    <li class="list-group-item"><a class="link_title" href="{% url 'user-password-update' %}" >{% trans "更改密碼" %}</a></li>
                    <li class="list-group-item"><a class="link_title" href="{% url 'logout' %}">{% trans "登出" %}</a></li>
                </ul>
            </div>
            <div class="col-md-10" style="margin-top: 30px;">
                {% load static %}
                <div class="border rounded" style="background: #ffffff;box-shadow: 2px 3px rgba(196, 190, 190, 0.81);">
                    <h1 class="fw-bold text-center" style="height: 80px; margin-top: 40px; padding-top: 20px; background-repeat: no-repeat; background-position: 46%, center; background-image: url('{% static 'images/Ellipse%204.png' %}');  color: rgb(94, 73, 73);font-size: 30px;">{% trans "應徵名單" %}</h1>

                    {% load static %}
                    <div style= "margin-top: -80px; margin-left: -3px;width: 300px;">
                        <img class="d-none d-xl-block" src="{% static 'images/back.png' %}">
                        <ul style="color: rgba(134, 81, 64, 1); margin-top: -50px;margin-bottom: 0px;">
                            <li style="font-size: 14px;">{% trans "委託編號" %} #{{case.case_id}}</li>
                            <li style="font-size: 14px;"><span class="d-inline-block text-truncate" style="max-width: 200px;">{% trans "委託標題" %} {{case.title}}</span></li>
                        </ul>
                    </div>

                    <div class="position-relative underlineEffects" style="margin-top: 0px;">
                        <ul style="margin-left: 40px;margin-bottom: 0px;">
                            <li><a href="{% url 'user-publish-record' %}">{% trans "回我的委託" %}</a></li>
                        </ul>
                        <div class="underlineEffects position-absolute top-0 end-0" style="width: 600px; margin-top: 50px;">
                            <ul class="d-none d-md-block" style="color: rgb(94, 73, 73); margin-bottom: 0px;">
                                <li style="font-size: 14px;">{% trans "已有" %} {{cnt}} {% trans "個工具人，最多再選取" %} {{last}} {% trans "位" %} &nbsp;&nbsp;</li>
                                <li style="font-size: 14px;">
                                    <form action="/toolfamily/user/build/" method="post" >
                                        {% csrf_token %}
                                        <button class="btn btn-primary" type="submit" onClick="return confirm('{% trans "確定送出委託?" %}');" id="send" style="height: 24px;font-size: 14px;line-height: 10px;background: #7b3b20;border-style: none;">{% trans "送出" %}</button>
                                        <button class="btn btn-primary" type="reset" id="reset" style="height: 24px;font-size: 14px;line-height: 10px;border-color: #7b3b20;background: rgba(13,110,253,0);color: #7b3b20;">{% trans "重置" %}</button>
                                    </form>
                                </li>
                            </ul>
                            <ul>
                                <li class="d-none d-sm-block d-md-none" style="font-size: 14px;">
                                    <form action="/toolfamily/user/build/" method="post" >
                                        {% csrf_token %}
                                        <button class="btn btn-primary" type="submit" onClick="return confirm('{% trans "確定送出委託?" %}');" id="send2" style="height: 24px;font-size: 14px;line-height: 10px;background: #7b3b20;border-style: none;">{% trans "送出" %}</button>
                                        <button class="btn btn-primary" type="reset" id="reset2" style="height: 24px;font-size: 14px;line-height: 10px;border-color: #7b3b20;background: rgba(13,110,253,0);color: #7b3b20;">{% trans "重置" %}</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <!-- {% comment %} 剩餘人數0的時候還沒擋 {% endcomment %}-->

                    <div class="table-responsive" style="margin-left: 60px;margin-right: 60px;margin-bottom: 50px; margin-top: 20px; background-color: rgba(226, 218, 212, 1); border-radius: 27px;border: 1px solid rgb(125,105,105);">
                        <table style="margin-top: 0px; margin-bottom: 23px;" class="table table-borderless">
                            <thead style="color: rgb(75, 49, 42);">
                                <tr>
                                    <td style="width: 50px;"></td>
                                    <td class="d-block" style="width: 200px;">{% trans "工具人資訊" %}</td>
                                    <td style="width: 100px;">{% trans "評價" %}</td>
                                    <td class="d-block" style="width: 80px;">{% trans "狀態" %}</td>
                                    <td style="text-align: center; width: 130px;">{% trans "動作" %}</td>
                                </tr>
                            </thead>

                            <!-- content -->
                            <tbody>
                                {% for data in willingness %}
                                    <tr style="background: #fdfdfb;">
                                        <td style="width: 50px;padding-top: 15px;padding-bottom: 10px;padding-left: 30px;">
                                            {% if data.willing_user.icon %}
                                                <div class="img-circular" style="background-image: url({{data.willing_user.icon.url}});"></div>
                                            {% else %}
                                                {% load static %}
                                                <div class="img-circular"></div>
                                            {% endif %}
                                        </td>
                                        <td style="font-size: 14px; line-height: 16px;color: rgb(121, 110, 110);width: 200px;">
                                            <a class="link_title" href="{% url 'others-user-profile' data.willing_user.user_id %}" style="line-height: 30px;">
                                                {% if data.willing_user.nickname != "" %}
                                                    {{data.willing_user.nickname}}
                                                {% else %}
                                                    {{data.willing_user.name}}
                                                {% endif %}

                                                {% load static %}
                                                {% if data.willing_user.gender == 2 %}
                                                    {% load static %}
                                                    <img  style="width: 18px;"src="{% static 'images/gender-female.png' %}" style="margin-left: 10px;">
                                                {% elif data.willing_user.gender == 1 %}
                                                    {% load static %}
                                                    <img style="width: 18px;"src="{% static 'images/gender-male.png' %}" style="margin-left: 10px;">
                                                {% else %}
                                                    {% load static %}
                                                    <img style="width: 18px;"src="{% static 'images/gender-male-female.png' %}" style="margin-left: 10px;">
                                                {% endif %}
                                            </a>
                                            <div class="w-100">
                                                <span style="color: rgb(142,145,147);font-size: 12px;line-height: 0px;" id="a{{data.willing_user.account_mail}}{{ case.case_id }}">{% trans "上次登入" %}: {{data.willing_user.django_user.last_login}}
                                                    <script>
                                                        var oriTime = "{{data.willing_user.django_user.last_login}}"
                                                        var yyyy = oriTime.split('年')[0]
                                                        var mm = oriTime.split('年')[1].split('月')[0]
                                                        var dd = oriTime.split('年')[1].split('月')[1].split('日')[0]
                                                        var tt = oriTime.split('年')[1].split('月')[1].split('日 ')[1]


                                                        var enddate = new Date(mm + '/' + dd + '/' + yyyy + ' '+ tt)
                                                        var currentdate = new Date();
                                                        var remainday = Math.abs((enddate.getTime() - currentdate.getTime()))

                                                        document.getElementById("a{{data.willing_user.account_mail}}{{ case.case_id }}").innerHTML="{% trans '上次登入' %}: "+ msToTime(remainday)+" {% trans '前' %}";


                                                    </script>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="d-block" style="width: 100px; font-size: 14px; color: rgb(85,58,58); padding-top: 20px;">
                                            <span id="starapp{{data.willing_user.account_mail}}{{ case.case_id }}">
                                                <script>
                                                    var starId = "starapp{{data.willing_user.account_mail}}{{ case.case_id }}"
                                                    var value = " {{data.willing_user.rate}}"
                                                    getStar(starId, value );
                                                </script>
                                            </span>
                                        </td>
                                        <td style="width: 100px;line-height: 46px;color: rgb(121, 110, 110);" class="select" id="text_{{data.casewillingness_id}}">{% trans "未選" %}</td>

                                        <td style="text-align: center; width: 120px;line-height: 40px;padding-bottom: 0px;">
                                            <input disabled type="button"  class=" btn_select btn btn-primary " value="{% trans '選擇' %}" id="{{data.casewillingness_id}}" style="width: 100px;height: 24px;font-size: 12px;line-height: 10px;background: #ca6c38;border-style: none;">
                                            <p hidden="hidden" id="notic{{data.casewillingness_id}}" style="line-height: 16px; font-size: 12px;color:#ca6c38 ; ">{% trans "你的工具人" %}<br>{% trans "已經徵滿了喔！" %}</p>
                                            <script>
                                                if ('{{last}}'==0){
                                                    $("input").attr('hidden',true);
                                                    $("#send").attr('disabled',true);
                                                    $("#send2").attr('disabled',true);
                                                    $("#notic{{data.casewillingness_id}}").attr('hidden',false);
                                                }
                                            </script>
                                        </tr>

                                {% endfor%}
                            </tbody>
                        </table>

                        <script>
                            function check(count,id){
                                if (count<'{{last}}'){
                                    $("input").attr('disabled',false);
                                }else{
                                    $(".btn_select").attr('disabled',true);
                                    $("#"+ id).attr('disabled',false);
                                }


                                if(count != 0){
                                    $("#send").attr('disabled',false);
                                    $("#send2").attr('disabled',false);
                                }else{
                                    $("#send").attr('disabled',true);
                                    $("#send2").attr('disabled',true);
                                }
                            }
                            count = 0;
                            check(count,"");
                            $(".btn_select").click(function() {
                                num = $(this).attr("id");
                                if ($(this).attr("value") == "{% trans '選擇' %}") {
                                    count++;
                                    $(this).val("{% trans '取消' %}");
                                    $(this).css("background", "#7b3b20")
                                    $("#text_" + num).html("{% trans '已選' %}");
                                    $("<input>").attr({
                                        type: "hidden",
                                        id: "content" + num,
                                        class: "toolman",
                                        name: "toolman",
                                        value: num,
                                    }).appendTo("form");

                                }
                                else {
                                    count--;
                                    $(this).val("{% trans '選擇' %}");
                                    $(this).css("background", "#ca6c38")
                                    $("#text_" + num).html("{% trans '未選' %}");
                                    $("#content" + num).remove();
                                }
                                check(count,num);



                            });

                            $("#reset").click(function() {
                                $(".toolman").remove();
                                $(".select").html("{% trans '未選' %}");
                                $(".btn_select").val("{% trans '選擇' %}")
                                $(".btn_select").css("background", "#ca6c38")
                                count = 0;
                                check(count,num);
                            });
                            $("#reset2").click(function() {
                                $(".toolman").remove();
                                $(".select").html("{% trans '未選' %}");
                                $(".btn_select").val("{% trans '選擇' %}")
                                $(".btn_select").css("background", "#ca6c38")
                                count = 0;
                                check(count,num);
                            });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>
