<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>應徵名單</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>應徵名單</h1>

    <form action="/toolfamily/user/build/" method="post">
        {% csrf_token %}
        <button onclick="if(confirm('確認送出委託請求?')) this.form.submit();">送出</button>
        <input type="reset" id="reset" value="重置"><br><br>
    </form>

    <a href="{% url 'user-publish-record' %}">回到我的委託</a><br>
    <span>委託編號 #{{case.case_id}}</span><br>
    <span>委託標題 {{case.title}}</span><br><br>

    <table>
        <thead>
            <tr>
                <td>工具人資訊</td>
                <td>評價</td>
                <td>狀態</td>
                <td>動作</td>
            </tr>
        </thead>
        <tbody>
            {% for data in willingness %}
                <tr>
                    <td>{{data.willing_user.name}} {{data.willing_user.gender}}(這是性別)</td>
                    <td>{{data.willing_user.rate}}</td>
                    <td class="select" id="text_{{data.casewillingness_id}}">未選</td>
                    <td><input type="button" id="{{data.casewillingness_id}}" class="btn" value="選擇"></td>
                </tr>
            {% endfor%}
        </tbody>
    </table>

    <script type="text/javascript">
        $(".btn").click(function() {
            num = $(this).attr("id");
            if ($(this).attr("value") == "選擇") {
                $(this).val("取消");
                $("#text_" + num).html("已選");
                $("<input>").attr({
                    type: "hidden",
                    id: "content" + num,
                    class: "toolman",
                    name: "toolman",
                    value: num,
                }).appendTo("form");
            }
            else {
                $(this).val("選擇");
                $("#text_" + num).html("未選");
                $("#content" + num).remove();
            }
        });

        $("#reset").click(function() {
            $(".toolman").remove();
            $(".select").html("未選");
            $(".btn").val("選擇")
        });
    </script>
</body>
</html>