{% extends "base_generic.html" %}
{% load i18n %}
<!-- user_reset_pwd -->

{% load static %}
{% block content %}
<script src="\static\js\user.js" type="text/javascript"></script>
<link rel="stylesheet" href="\static\css\user.css">
<script>
    // 密碼2次確認---------------------------------------------------------------
    function validate() {
        var pwd1 = document.getElementById("new_pwd").value;
        var pwd2 = document.getElementById("confirm").value;

        if(pwd1 == pwd2) {
            document.getElementById("notice").innerHTML="<span style='font-size: 12px; color:green;'>{% trans "兩次密碼相同" %}</span>";
            isPwdCheck = true;

        }else if (pwd1 != pwd2){
            document.getElementById("notice").innerHTML="<span style='font-size: 12px; color:Tomato;'>{% trans "兩次密碼不同" %}</span>";
            isPwdCheck = false;
        }
    }
    // 密碼強度--------------------------------------------------------------------
    var m_strUpperCase = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    var m_strLowerCase = "abcdefghijklmnopqrstuvwxyz";
    var m_strNumber = "0123456789";
    var m_strCharacters = "!@#$%^&*?_~";

    function checkPwdStrength() {
        var pwd = document.getElementById("new_pwd").value;
        len = pwd.length;
        var comp = "";

        if (len == 0) {
            comp = "<span style='font-size: 12px;'>{% trans "密碼強度" %}</span>";
        }else {
            // <span style='font-size: 12px;'>&nbsp> strong</span>
            scr = parseInt(getPwdScore(pwd));
            if(scr >= 60) {
                comp = "<table><tr><td style='border:1px #865140 solid; height: 10px;width: 40px; background-color:#12E183;'></td><td style='border:1px #865140 solid; height: 10px;width: 40px; background-color:#12E183;'></td><td style='border:1px #865140 solid; height: 10px;width: 40px; background-color:#12E183;'></td></tr></table>";
            }else if(scr >= 40) {
                comp = "<table><tr><td style='border:1px #865140 solid; height: 10px;width: 40px; background-color:#F3C92B;'></td><td style='border:1px #865140 solid; height: 10px;width: 40px; background-color:#F3C92B;'></td></tr></table>";
            }else if(scr >= 0) {
                comp = "<table><tr><td style='border:1px #865140 solid; height: 10px;width: 40px; background-color:Tomato;'></td></tr></table>";
            }
        }
        document.getElementById('complexity').innerHTML = comp;
        return false;
    }

    function getPwdScore(strPassword) {
        // Reset combination count
        var nScore = 0;

        // Password length
        if (strPassword.length < 5) {// -- Less than 4 characters
            nScore += 5;
        }else if (strPassword.length > 4 && strPassword.length < 8) {// -- 5 to 7 characters
            nScore += 10;
        }else if (strPassword.length > 7) {// -- 8 or more
            nScore += 25;
        }

        // Letters
        var nUpperCount = countContain(strPassword, m_strUpperCase);
        var nLowerCount = countContain(strPassword, m_strLowerCase);
        var nLowerUpperCount = nUpperCount + nLowerCount;
        // -- Letters are all lower case
        if (nUpperCount == 0 && nLowerCount != 0) {
            nScore += 10;
        }else if (nUpperCount != 0 && nLowerCount != 0) { // -- Letters are upper case and lower case
            nScore += 20;
        }

        // Numbers
        var nNumberCount = countContain(strPassword, m_strNumber);
        if (nNumberCount == 1) // -- 1 number
            nScore += 10;
        if (nNumberCount >= 3)// -- 3 or more numbers
            nScore += 20;

        // Characters
        var nCharacterCount = countContain(strPassword, m_strCharacters);
        if (nCharacterCount == 1) // -- 1 character
            nScore += 10;
        if (nCharacterCount > 1) // -- More than 1 character
            nScore += 25;

        // Bonus
        if (nNumberCount != 0 && nLowerUpperCount != 0)// -- Letters and numbers
            nScore += 2;
        if (nNumberCount != 0 && nLowerUpperCount != 0 && nCharacterCount != 0)// -- Letters, numbers, and characters
            nScore += 3;
        if (nNumberCount != 0 && nUpperCount != 0 && nLowerCount != 0 && nCharacterCount != 0) // -- Mixed case letters, numbers, and characters
            nScore += 5;
        return nScore;
    }

    // Checks a string for a list of characters
    function countContain(strPassword, strCheck) {
        // Declare variables
        var nCount = 0;
        for (i = 0; i < strPassword.length; i++) {
            if (strCheck.indexOf(strPassword.charAt(i)) > -1) {
                nCount++;
            }
        }
        return nCount;
    }
</script>
<style>
    /* address style */
    a.link_title:link {
        color:rgba(134, 81, 64);
        text-decoration: none;
    }
    a.link_title:visited{
        color:rgba(134, 81, 64);
    }
    a.link_title:hover{
    color:rgb(204,195,190);
    }
    @media screen and (min-width: 991px){
        .screenM{
            margin-right: 15px;
            margin-left: 15px;
        }
    }
</style>
<!-- --------Image Board-------- -->
<div class="container" style="margin-top: 50PX;height: 100px;width: 100%;margin-right: 0px;margin-left: 0px;padding-right: 0px;padding-left: 0px;max-width: none;">
    <div class="row" style="height: 100px;width: 100%;margin: 0px;">
        <div class="col" style="height: 100px;width: 100%;padding: 0px;"><img src="\static\images\ntu_1.png" style="width: 100%;height: 100px;"></div>
    </div>
</div>
<div class="screenM row">
    <div class="d-none d-lg-block col-sm-2">
        <div class="justify-content-center " style="margin-top: 30px;">
            <ul class="list-group borderless rounded" style="font-size: 18px;line-height: 30px; text-align: center;display:block; box-shadow: 2px 2px rgba(196, 190, 190, 0.81);">
                <li class="list-group-item member" m="1"><a class="link_title" href="{%url 'my-user-profile'%}" >{% trans "會員中心" %}</a></li>
                <li class="list-group-item"><a class="link_title" href="{%url 'user-publish-record'%}" >{% trans "我的委託" %}</a></li>
                <li class="list-group-item"><a class="link_title" href="{%url 'user-take-record'%}">{% trans "我的接案" %}</a></li>
                <li class="list-group-item"><a class="link_title bold" href="{% url 'user-password-update' %}" >{% trans "更改密碼" %}</a></li>
                <li class="list-group-item"><a class="link_title" href="{% url 'logout' %}">{% trans "登出" %}</a></li>
            </ul>
        </div>
    </div>
<!-- change pwd -->
    <div class="col-sm-10 tab" style="margin-top: 30px;">
        <div c="6"  class="tab-inner border rounded" style="background: #ffffff;box-shadow: 2px 3px rgba(196, 190, 190, 0.81);">
            <h1 class="fw-bold text-center" style="height: 80px; margin-top: 40px; padding-top: 20px; background-repeat: no-repeat; background-position: 46%, center; background-image: url('{% static 'images/Ellipse%204.png' %}');  color: rgb(94, 73, 73);font-size: 30px;">{% trans "更改密碼" %}</h1>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6" style="max-width: 70%;width: 250px;margin-top: 20px;">
                        <form action="{% url 'user-password-update' %}" method="POST">
                            {% csrf_token %}
                            <div class="row form-row" style="margin-top: 10px;">
                                <div class="col-12 form-group">
                                    <label class="form-label" style="font-weight: bold;">
                                        {% trans "請輸入您的舊密碼" %}：
                                    <span class="text-danger">*</span></label>
                                    <input class="form-control" type="password" id="input-title" name="oldPassword" style="width: 100%;" required>
                                </div>
                            </div>
                            <div class="row form-row" style="margin-top: 10px;">
                                <div class="col-12 form-group">
                                    <label class="form-label" style="font-weight: bold;">
                                        {% trans "請輸入新密碼" %}：
                                    <span class="text-danger">*</span></label>
                                    <input class="form-control" type="password" onkeyup="return checkPwdStrength();" onblur="validate()" id="new_pwd" name="newPassword" style="width: 100%;" required>
                                    <div id="complexity"></div>
                                </div>
                            </div>
                            <div class="row form-row" style="margin-top: 10px;">
                                <div class="col-12 form-group">
                                    <label class="form-label" style="font-weight: bold;">
                                        {% trans "請再次輸入新密碼" %}：
                                    <span class="text-danger">*</span></label>
                                    <input class="form-control" type="password" id="confirm" name="confirmNewPassword" style="width: 100%;" required>
                                    <span id="notice"></span>
                                </div>
                            </div>
                            <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
                                <input class="btn btn-primary border rounded" type="submit" style="background: rgb(134,81,64);margin-bottom: 0px;"  value='{% trans "送出" %}'>
                                <!-- show error info -->
                                {% for error in messages %}
                                <div>{{ error }}</div>
                                {% endfor%}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
