{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<script src="\static\js\user.js" type="text/javascript"></script>
<link rel="stylesheet" href="\static\css\user.css">
<div class="row" >
    <div class="col-sm-2">
        <div class="justify-content-center" style="margin-top: 80px;">
            <ul class="tab-list" style="text-align: center;display:block;">
                <li class="list-group-item member bold" m="1"><a href="javascript:void(0)" style="color: rgb(134, 81, 64);">會員中心</a></li>
                <li class="list-group-item member" m="2"><a href="javascript:void(0)" style="color: rgb(134, 81, 64) ;">編輯個人資訊</a></li>
                <li class="list-group-item"><a href="#" style="color: rgb(134, 81, 64) ;">委託管理</a></li>
                <li class="list-group-item"><a href="#" style="color: rgb(134, 81, 64) ;">委託紀錄</a></li>
                <li class="list-group-item"><a href="#" style="color: rgb(134, 81, 64) ;">我的追蹤</a></li>
                <li class="list-group-item"><a href="{% url 'user-password-update' %}" style="color: rgb(134, 81, 64) ;">更改密碼</a></li>
                <li class="list-group-item"><a href="{% url 'logout' %}" style="color: rgb(134, 81, 64) ;">登出</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-10 tab" style="margin-top: 60px;">
        <!-- 個人資訊主頁 -->
        <div c="1" class="" style="background: #ffffff; height: 500px;margin-top: 20px;margin-right: 10px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6" style="max-width: 70%;width: 250px;">
                        <div>
                        {% if user.icon %}  {# 有圖才顯示 #}
                            <img style="border-radius: 50%;margin: 10px;padding: 2px;width: 200px;height: 200px;" src="{{ user.icon.url }}">
                        {% else %}
                            <img style="border-radius: 50%;margin: 10px;padding: 2px;width: 200px;height: 200px;" src="\static\images\default_icon_1.png">
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 10px;">
                        <div>
                            <span style="color:  rgb(38, 29, 29);font-size: 20px;font-weight: bold">{{user.name}} |</span>
                            <span style="color:  rgb(38, 29, 29);">{{user.nickname}}</span>

                            {% if user.gender == 0 %}
                                <p style="color:  rgb(38, 29, 29);"><i class="fa fa-genderless"></i>不願透漏</p>
                            {% elif user.gender == 1 %}
                                <p style="color:  rgb(38, 29, 29);"><i class="fa fa-mars"></i>男</p>
                            {% elif user.gender == 2 %}
                                <p style="color:  rgb(38, 29, 29);"><i class="fa fa-venus"></i>女</p>
                            {% endif %}
                            <p style="color:  rgb(38, 29, 29);"><i class="fa-solid fa-graduation-cap"></i>:{{user.department}}</p>
                            <p style="color:  rgb(38, 29, 29);"><pre>{{user.information}}</pre></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4" style="border-width: 0px;">
                        <div class="border rounded" style="border: 1px solid #EEEEEE ;">
                            <p style="color: rgb(134, 81, 64);text-align: center;margin-top: 5px;">接案數量</p>
                            <p style="text-align: center;font-size: 70px;color: rgb(134, 81, 64);">{{ user.work_num }}</p>
                            <p style="text-align: right;padding-right: 20px;">件</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="border rounded" style="border-style: solid;border-color: #EEEEEE;">
                            <p style="color: rgb(134, 81, 64);text-align: center;margin-top: 5px;">發案數量</p>
                            <p style="text-align: center;font-size: 70px;color: rgb(134, 81, 64);">{{ user.publish_num }}</p>
                            <p style="text-align: right;padding-right: 20px;">件</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="border rounded" style="border: 1px solid #EEEEEE ;">
                            <p style="color: rgb(134, 81, 64);text-align: center;margin-top: 5px;border-width: 0px;">評價分數</p>
                            <p style="color: rgb(134, 81, 64);font-size: 70px;text-align: center;">{{ user.rate|floatformat:"2" }}{# 保留2位小數 #}</p>
                            <p style="text-align: right;padding-right: 20px;">分</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 編輯個人資訊 -->
        <div c="2"  class="tab-inner hide" style="background: #ffffff;height: 500px;margin-top: 20px;margin-right: 10px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6" style="max-width: 70%;width: 250px;">
                        <form action="{% url 'user-icon-update' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>
                            {% if user.icon %}  {#有圖片才顯示#}
                                <img style="border-radius: 50%;margin: 10px;padding: 2px;width: 200px;height: 200px;" id="preview_img" src="{{ user.icon.url }}">
                            {% else %}
                                <img style="border-radius: 50%;margin: 10px;padding: 2px;width: 200px;height: 200px;" id="preview_img" src="\static\images\default_icon_1.png">
                            {% endif %}
                            </div>
                            <div style="text-align: center;">  {# 圖片上傳 #}
                                <label for="id_icon" class="btn btn-primary border rounded" style="background: rgb(134,81,64);">選擇圖片</label>
                                <input type="file" name="icon" accept="image/*" id="id_icon" style="display:none;">
                                <input class="btn btn-primary border rounded" type="submit" style="background: rgb(134,81,64);margin-bottom: 0px;margin-left: 20px;"  value="提交">
                            </div>
                            <div style="text-align: center;"> 
                                <p style="margin-top: 10px; color: rgb(134, 81, 64)">檔案大小限2.5MB以下</p>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6" style="margin-top: 10px;">
                        <form action="{% url 'user-profile-update' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>
                                <p style="color:  rgb(38, 29, 29);">email：{{ user.account_mail}}</p>
                                <p style="color:  rgb(38, 29, 29);">姓名：<input class="border rounded form-control" type="text" name="name" value="{{ user.name }}"></p>
                                <p style="color:  rgb(38, 29, 29);">匿稱：<input class="border rounded form-control" type="text" name="nickname" value="{{ user.nickname }}"></p>
                                <p style="color:  rgb(38, 29, 29);">性別：</p>
                                <div class="form-check">
                                {% if user.gender == 0 %}
                                    <input  type="radio" name="gender" value="1"><i class="fa fa-mars"></i>男
                                    <input  type="radio" name="gender" value="2"><i class="fa fa-venus"></i>女
                                    <input  type="radio" name="gender" value="0" checked="checked"><i class="fa fa-genderless"></i>不願透漏
                                {% elif user.gender == 1 %}
                                    <input  type="radio" name="gender" value="1" checked="checked"><i class="fa fa-mars"></i>男
                                    <input  type="radio" name="gender" value="2"><i class="fa fa-venus"></i>女
                                    <input  type="radio" name="gender" value="0"><i class="fa fa-genderless"></i>不願透漏
                                {% elif user.gender == 2 %}
                                    <input  type="radio" name="gender" value="1"><i class="fa fa-mars"></i>男
                                    <input  type="radio" name="gender" value="2" checked="checked"><i class="fa fa-venus"></i>女
                                    <input  type="radio" name="gender" value="0"><i class="fa fa-genderless"></i>不願透漏
                                {% endif %}                        
                                    <!-- <input class="form-check-input" type="radio" id="formCheck-2"><label class="form-check-label" for="formCheck-2">男</label>
                                    <input class="form-check-input" type="radio" id="formCheck-1">女
                                    <input class="form-check-input" type="radio" id="formCheck-3"><label class="form-check-label" for="formCheck-3">不透漏</label> -->
                                </div>
                                <p style="color:  rgb(38, 29, 29);">系所：<input class="border rounded form-control" type="text" name="department" value="{{ user.department }}"></p>
                                <p class="d-lg-flex justify-content-lg-start" style="color:  rgb(38, 29, 29);">自我介紹：</p>
                                <p class="d-lg-flex justify-content-lg-start" style="color:  rgb(38, 29, 29);"></p><textarea class="form-control form-control-lg" style="font-size:15px; color:  rgb(38, 29, 29);height: 200px;" name="information">{{ user.information }}</textarea></p>
                                <p class="d-lg-flex justify-content-lg-start" style="color:  rgb(38, 29, 29);">聯絡資訊</p>
                                <p class="d-lg-flex justify-content-lg-start" style="color:  rgb(38, 29, 29);"></p><textarea class="form-control form-control-lg" style="font-size:15px; color:  rgb(38, 29, 29);height: 200px;" name="contact">{{ user.contact }}</textarea></p>
                            </div>
                            <div style="text-align: center;margin-bottom: 20px;">
                                <button class="btn btn-primary border rounded" type="button" style="background: rgb(255,255,255);color: rgb(134,81,64);border: 2px solid rgb(134,81,64) ;">取消</button>
                                <input class="btn btn-primary border rounded" type="submit" style="background: rgb(134,81,64);margin-bottom: 0px;margin-left: 20px;"  value="提交">
                                <div>{{ userDataForm.errors }}</div>  <!-- 顯示錯誤訊息 ex.資料格式錯誤 -->
                                <div>{{ userDataForm.non_field_errors }}</div>  <!-- 顯示錯誤訊息 ex.必填項目未填 -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
