{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<script src="\static\js\user.js" type="text/javascript"></script>
<script src="\static\js\user_rate.js" type="text/javascript"></script>
<link rel="stylesheet" href="\static\css\user.css">
<div class="row" >
    <div class="d-none d-md-block col-sm-2">
        <div class="justify-content-center" style="margin-top: 80px;">
            <ul class="tab-list" style="text-align: center;display:block;">
                <li class="list-group-item member bold" m="1"><a href="javascript:void(0)" style="color: rgb(134, 81, 64);">會員中心</a></li>
                <!-- <li class="list-group-item member" m="2"><a href="javascript:void(0)" style="color: rgb(134, 81, 64) ;">編輯個人資訊</a></li> -->
                <li class="list-group-item"><a href="{%url 'user-publish-record'%}" style="color: rgb(134, 81, 64) ;">我的委託</a></li>
                <li class="list-group-item"><a href="{%url 'user-take-record'%}" style="color: rgb(134, 81, 64) ;">我的接案</a></li>
                <li class="list-group-item"><a href="#" style="color: rgb(134, 81, 64) ;">我的追蹤</a></li>
                <li class="list-group-item"><a href="{% url 'user-password-update' %}" style="color: rgb(134, 81, 64) ;">更改密碼</a></li>
                <li class="list-group-item"><a href="{% url 'logout' %}" style="color: rgb(134, 81, 64) ;">登出</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-10 tab" style="margin-top: 60px;">
        <!-- 會員中心 -->
        <div c="1" class="" style="margin-top: 20px;margin-right: 10px;">
            <div class="container-fuild">
                <label style="z-index: 3;background-color: rgb(134, 81, 64);width: 100px;height: 30px;line-height:30px;margin-bottom: -15px;margin-left: 15px;text-align: center;color: #ffffff;position:relative;font-weight: bold">
                    個人資料
                </label>
                <div class="row justify-content-center" style="z-index: 1;background: #ffffff;border-radius: .25rem">
                    <div class="col-md" style="max-width: 70%;width: 250px;">
                        <div class="row justify-content-center">
                        {% if user.icon %}  {# 有圖才顯示 #}
                            <img style="border-radius: 50%;margin: 15px;padding: 2px;width: 150px;height: 150px;" src="{{ user.icon.url }}">
                        {% else %}
                            <img style="border-radius: 50%;margin: 15px;padding: 2px;width: 150px;height: 150px;" src="\static\images\default_icon_1.png">
                        {% endif %}
                        </div>
                        <!----------User Rate---------->
                        <div class="col-12 d-flex justify-content-center align-items-center" style="margin-bottom: 10px;">
                            <div id="user-rate" class="d-flex justify-content-center align-items-center"></div>
                            <span id="user-ratenum" style="color: #865140;font-size: 14px">(?)</span>
                        </div>
                        <span style="display: none;" id="get-user-rate">
                            {{current_user.rate}}
                        </span>
                        <span style="display: none;" id="get-user-ratenum">
                            {{current_user.rate_num}}
                        </span>

                    </div>
                    <div class="col-md" style="margin-top: 10px;margin-bottom: 10px;">
                        <div>
                            <span style="color:  rgb(38, 29, 29);font-size: 20px;font-weight: bold">{{current_user.name}}</span>
                            {% if current_user.nickname %}
                            <span style="color:  rgb(38, 29, 29);"> |{{current_user.nickname}}</span>
                            {% endif %}

                            {% if current_user.gender == 0 %}
                                <span><img src="/static/images/gender-male-female.png"  id="user-gender" style="width:18px;height:18px;"></span>
                            {% elif current_user.gender == 1 %}
                                <span><img src="/static/images/gender-male.png"  id="user-gender" style="width:18px;height:18px;"></span>
                            {% elif current_user.gender == 2 %}
                                <span><img src="/static/images/gender-female.png"  id="user-gender" style="width:18px;height:18px;"></span>
                            {% endif %}
                            {% if current_user.department %}
                            <p style="color:  rgb(38, 29, 29);">系所:{{current_user.department}}</p>
                            {% endif %}
                            <button class="btn member" m="2" type="button" style="padding: 2px 12px;background: rgb(134,81,64);font-size: 12px;margin-right: 4px;color: #ffffff;">編輯個人資訊</button>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="" style="margin-top: 10px;background: #ffffff;">
                            <p style="color:  rgb(38, 29, 29);font-weight: bold;text-align: center;">接案數量</p>
                            <p style="margin: 0 auto;width: 100px;height:100px;text-align: center;font-size: 70px;color: #ffffff;background-size: 100px;background: url('/static/images/clipboard-image.png');background-repeat: no-repeat;background-size: 100px 100px;">{{ current_user.work_num }}</p>
                            <!-- <p style="text-align: right;padding-right: 20px;">件</p> -->
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="" style="margin-top: 10px;background: #ffffff;">
                            <p style="color:  rgb(38, 29, 29);font-weight: bold;text-align: center;">發案數量</p>
                            <p style="margin: 0 auto;margin-bottom: 15px;width: 100px;height:100px;text-align: center;font-size: 70px;color: #ffffff;background-size: 100px;background: url('/static/images/clipboard-image.png');background-repeat: no-repeat;background-size: 100px 100px;">{{ current_user.publish_num }}</p>
                            <!-- <p style="text-align: right;padding-right: 20px;">件</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fuild">
                <label style="z-index: 3;background-color: rgb(134, 81, 64);width: 100px;height: 30px;line-height:30px;margin-top: 10px;margin-bottom: -50px;margin-left: 15px;text-align: center;color: #ffffff;font-weight: bold">
                    自我介紹
                </label>
                <div class="row" style="z-index: 1;background: #ffffff;border-radius: .25rem;">
                    <div style="">
                        <pre style="color:  rgb(38, 29, 29);margin-top: 15px;margin-left: 30px;margin-right: 30px;white-space: break-spaces;">{{current_user.information}}</pre>
                    </div>
                </div>
            </div>
            <div class="container-fuild">
                <label style="z-index: 3;background-color: rgb(134, 81, 64);width: 100px;height: 30px;line-height:30px;margin-top: 10px;margin-bottom: -50px;margin-left: 15px;text-align: center;color: #ffffff;font-weight: bold">
                    聯絡資訊
                </label>
                <div class="row" style="z-index: 1;background: #ffffff;border-radius: .25rem;">
                    <div style="">
                        <pre style="color:  rgb(38, 29, 29);margin-top: 15px;margin-left: 30px;margin-right: 30px;white-space: break-spaces;">{{current_user.contact}}</pre>
                    </div>
                </div>
            </div>
        </div>
        <!-- 編輯個人資訊 -->
        <div c="2"  class="tab-inner hide" style="background: #ffffff;margin-top: 20px;margin-right: 10px;border-radius: .25rem">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6" style="max-width: 70%;width: 250px;margin-top: 20px;">
                        <form action="{% url 'current_user-icon-update' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>
                            {% if current_user.icon %}  {#有圖片才顯示#}
                                <img style="border-radius: 50%;margin: 10px;padding: 2px;width: 200px;height: 200px;" id="preview_img" src="{{ current_user.icon.url }}">
                            {% else %}
                                <img style="border-radius: 50%;margin: 10px;padding: 2px;width: 200px;height: 200px;" id="preview_img" src="\static\images\default_icon_1.png">
                            {% endif %}
                            </div>
                            <div style="text-align: center;">  {# 圖片上傳 #}
                                <label for="id_icon" class="btn btn-primary border rounded" style="background: rgb(134,81,64);">選擇圖片</label>
                                <input type="file" name="icon" accept="image/*" id="id_icon" style="display:none;">
                                <input class="btn btn-primary border rounded" type="submit" style="background: rgb(134,81,64);margin-bottom: 0px;margin-left: 20px;"  value="提交">
                            </div>
                            <div style="text-align: center;"> 
                                <p style="margin-top: 10px; color: rgb(134, 81, 64)">檔案大小限2.5MB以下</p>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6" style="margin-top: 20px;">
                        <form action="{% url 'user-profile-update' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>

                                <p style="color:  rgb(38, 29, 29);font-weight: bold;">email：{{ current_user.account_mail}}</p>
                                <p style="color:  rgb(38, 29, 29);font-weight: bold;">姓名：<input class="border rounded form-control" type="text" name="name" value="{{ current_user.name }}"></p>
                                <p style="color:  rgb(38, 29, 29);font-weight: bold;">匿稱：<input class="border rounded form-control" type="text" name="nickname" value="{{ current_user.nickname }}"></p>
                                <p style="color:  rgb(38, 29, 29);font-weight: bold;margin-bottom: -5px;">性別：</p>
                                <div class="form-check">
                                {% if current_user.gender == 0 %}
                                    <input  type="radio" name="gender" value="1"><img src="/static/images/gender-male.png"  id="user-gender" style="width:18px;height:18px;">男
                                    <input  type="radio" name="gender" value="2"><img src="/static/images/gender-female.png"  id="user-gender" style="width:18px;height:18px;">女
                                    <input  type="radio" name="gender" value="0" checked="checked"><img src="/static/images/gender-male-female.png"  id="user-gender" style="width:18px;height:18px;">不願透漏
                                {% elif current_user.gender == 1 %}
                                    <input  type="radio" name="gender" value="1" checked="checked"><img src="/static/images/gender-male.png"  id="user-gender" style="width:18px;height:18px;">男
                                    <input  type="radio" name="gender" value="2"><img src="/static/images/gender-female.png"  id="user-gender" style="width:18px;height:18px;">女
                                    <input  type="radio" name="gender" value="0"><img src="/static/images/gender-male-female.png"  id="user-gender" style="width:18px;height:18px;">不願透漏
                                {% elif current_user.gender == 2 %}
                                    <input  type="radio" name="gender" value="1"><img src="/static/images/gender-male.png"  id="user-gender" style="width:18px;height:18px;">男
                                    <input  type="radio" name="gender" value="2" checked="checked"><img src="/static/images/gender-female.png"  id="user-gender" style="width:18px;height:18px;">女
                                    <input  type="radio" name="gender" value="0"><img src="/static/images/gender-male-female.png"  id="user-gender" style="width:18px;height:18px;">不願透漏
                                {% endif %}                        
                                    <!-- <input class="form-check-input" type="radio" id="formCheck-2"><label class="form-check-label" for="formCheck-2">男</label>
                                    <input class="form-check-input" type="radio" id="formCheck-1">女
                                    <input class="form-check-input" type="radio" id="formCheck-3"><label class="form-check-label" for="formCheck-3">不透漏</label> -->
                                </div>
                                <p style="color:  rgb(38, 29, 29);font-weight: bold;margin-top: 5px;">系所：
                                    <input class="border rounded form-control" type="text" name="department" value="{{ current_user.department }}">
                                </p>
                                <p class="d-lg-flex justify-content-lg-start" style="color:  rgb(38, 29, 29);font-weight: bold;">自我介紹：</p>
                                <textarea class="form-control form-control-lg" style="font-size:15px; color:  rgb(38, 29, 29);height: 200px;margin-top: -15px;" name="information">{{ current_user.information }}</textarea>
                                
                                <p class="d-lg-flex justify-content-lg-start" style="color:  rgb(38, 29, 29);font-weight: bold;margin-top: 15px;">聯絡資訊：</p>
                                <textarea class="form-control form-control-lg" style="font-size:15px; color:  rgb(38, 29, 29);height: 200px;margin-top: -15px;" name="contact">{{ current_user.contact }}</textarea>
                                
                            </div>
                            <div style="text-align: center;margin-top:20px;margin-bottom: 20px;">
                                <button class="btn btn-primary border rounded member" m="1" type="button" style="background: rgb(255,255,255);color: rgb(134,81,64);border: 2px solid rgb(134,81,64) ;">取消</button>
                                <input class="btn btn-primary border rounded" type="submit" style="background: rgb(134,81,64);margin-left: 20px;"  value="提交">
                                <div>{{ userDataForm.errors }}</div>  <!-- 顯示錯誤訊息 ex.資料格式錯誤 -->
                                <div>{{ userDataForm.non_field_errors }}</div>  <!-- 顯示錯誤訊息 ex.必填項目未填 -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
