{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<script src="\static\js\user.js" type="text/javascript"></script>
<link rel="stylesheet" href="\static\css\user.css">
<div class="row" >
    <div class="d-none d-md-block  col-sm-2">
        <div class="justify-content-center" style="margin-top: 80px;">
            <ul class="tab-list" style="text-align: center;display:block;">
                <li class="list-group-item member" m="1"><a href="{%url 'my-user-profile'%}" style="color: rgb(134, 81, 64);">會員中心</a></li>
                <li class="list-group-item"><a href="#" style="color: rgb(134, 81, 64) ;">委託管理</a></li>
                <li class="list-group-item"><a href="#" style="color: rgb(134, 81, 64) ;">委託紀錄</a></li>
                <li class="list-group-item"><a href="#" style="color: rgb(134, 81, 64) ;">我的追蹤</a></li>
                <li class="list-group-item bold"><a href="{%url 'user-password-update'%}" style="color: rgb(134, 81, 64) ;">更改密碼</a></li>
                <li class="list-group-item"><a href="{% url 'logout' %}" style="color: rgb(134, 81, 64) ;">登出</a></li>
            </ul>
        </div>
    </div>
<!-- 更改密碼 -->
    <div class="col-sm-10 tab" style="margin-top: 60px;">
        <div c="6"  class="tab-inner" style="background: #ffffff;border-radius: .25rem;margin-top: 20px;margin-right: 10px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6" style="max-width: 70%;width: 250px;margin-top: 20px;">
                        <form action="{% url 'user-password-update' %}" method="POST">
                            {% csrf_token %}
                            <div class="row form-row" style="margin-top: 10px;">
                                <div class="col-12 form-group">
                                    <label class="form-label" style="font-weight: bold;">
                                        請輸入您的舊密碼：
                                    <span class="text-danger">*</span></label>
                                    <input class="form-control" type="password" id="input-title" name="oldPassword" style="width: 100%;" required>
                                </div>
                            </div>
                            <div class="row form-row" style="margin-top: 10px;">
                                <div class="col-12 form-group">
                                    <label class="form-label" style="font-weight: bold;">
                                        請輸入新密碼：
                                    <span class="text-danger">*</span></label>
                                    <input class="form-control" type="password" id="input-title" name="newPassword" style="width: 100%;" required>
                                </div>
                            </div>
                            <div class="row form-row" style="margin-top: 10px;">
                                <div class="col-12 form-group">
                                    <label class="form-label" style="font-weight: bold;">
                                        請再次輸入新密碼：
                                    <span class="text-danger">*</span></label>
                                    <input class="form-control" type="password" id="input-title" name="confirmNewPassword" style="width: 100%;" required>
                                </div>
                            </div>
                            <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
                                <input class="btn btn-primary border rounded" type="submit" style="background: rgb(134,81,64);margin-bottom: 0px;"  value="提交">
                                <!-- 顯示自訂錯誤訊息 -->
                                {% for error in messages %}
                                <div>{{ error }}</div>
                                {% endfor%}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
