{% extends "base_generic.html" %}

{% block content %}
<h1>case_search</h1>
<h1>case_search</h1>
     {% comment %} action="/toolfamily/case/new/" 注意 在new 頁面要是這個action {% endcomment %}
    <form class = "from"  action=" " enctype="multipart/form-data" method="POST">
        {% csrf_token %}
         <div>
            <P>簡單搜尋</p>
            <label>類型: </label>
            <label><input type="checkbox" value="1" name="case_type"> 諮詢</label>
            <label><input type="checkbox" value="2" name="case_type"> 家教</label>
            <label><input type="checkbox" value="3" name="case_type"> 勞力</label>
            <label><input type="checkbox" value="4" name="case_type"> 實驗</label>
            <label><input type="checkbox" value="5" name="case_type"> 其他</label>&nbsp&nbsp&nbsp
            <label> 領域: </label>
            <label><input type="checkbox" value="1" name="case_field"> 電資</label>
            <label><input type="checkbox" value="2" name="case_field"> 數理</label>
            <label><input type="checkbox" value="3" name="case_field"> 人文科學</label>
            <label><input type="checkbox" value="4" name="case_field"> 藝術設計</label>
            <label><input type="checkbox" value="5" name="case_field"> 其他</label>&nbsp&nbsp&nbsp
            <label> 文字搜尋: </label>  
                 <input type="text" name ="search" placeholder="Enter Your reward" >
            <input type="submit" value="送出"><br><br>
        </div>
        <div>
            <P>複合搜尋</p>
            <label>case_id </label> 
            <input type="text" name ="case_id" placeholder="Enter Your title" >
            <label>title </label> 
            <input type="text" name ="title" placeholder="Enter Your title" >
            <label>內容說明  </label> 
            <input type="text" name ="description" placeholder="Enter Your description" >
            <label>報酬方式 </label>  
            <input type="text" name ="reward" placeholder="Enter Your reward" >
            <label>徵求人數 </label>  
            <input type="number" name ="num" placeholder="Enter Your num" >
            <label>工作偏好 </label>  
            <input type="number" name ="work" placeholder="Enter Your work" >
            <label>地點  </label> 
            <input type="text" name ="location" placeholder="Enter Your location" >
            <label>工作偏好  </label> 
            <input type="text" name ="constraint" placeholder="Enter Your constraint" >
            <label>起始日期 </label> 
            <input type="date" name ="date1" >
            <label>結束日期  </label> 
            <input type="date" name ="date2" >
            <input type="submit" value="送出"><br><br>
        </div>
    </form>

    <h1>case_result</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <h2 style="color:red" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h2>
            {% endfor %}
        </ul>
    {% endif %}
     <table class="table">
        <thead>
            <tr>
                <th>case_id</th>
                <th>title</th>
                <th>委託人</th>
                <th>報酬方式</th>
                <th>地點</th>
                <th>內容說明</th>
                <th>偏好條件</th>
                <th>開始時間</th>
                <th>結束時間</th>
                <th>狀態</th>
                <th>領域</th>
                <th>類型</th>
                <th>照片</th>
                <th>徵求人數</th>
                <th>工作偏好</th>
                <th>瀏覽人數</th>
            </tr>
        </thead>
        <tbody>
            {% for case in result_case%}
                <tr>
                  <td><a href="{% url 'case-profile' case.case_id %}">{{case.case_id}}</a></td>
                  <td>{{case.title}}</td>
                  <td>{{case.publisher}}</td>
                  <td>{{case.reward}}</td>
                  <td>{{case.location}}</td>
                  <td>{{case.description}}</td>
                  <td>{{case.constraint}}</td>
                  <td>{{case.started_datetime}}</td>
                  <td>{{case.ended_datetime}}</td>
                  <td>{{case.case_status.status_name}}</td>
                  <td>
                  {% for case_field in case_fields %}
                    {% if case_field.case_id == case.case_id%}
                        {{case_field.case_field.field_name}}
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>
                  {% for case_type in case_types %}
                    {% if case_type.case_id == case.case_id%}
                        {{case_type.case_type.type_name}}
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>
                  {% for photo in case_photo %}
                    {% if photo.case_id == case.case_id and photo.image.url != None%}
                        <img src="{{photo.image.url}}" alt="照片" style="width: 100px; height: 100px">
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>{{case.num}}</td>
                  <td>{{case.work}}</td>
                  <td>{{case.pageviews}}</td>
                </tr>
  
            {% endfor%}
        <tbody>
    </table>

{% endblock %}
