{% extends "base_generic.html" %}
{% load i18n %}
<!-- search_temp -->

{% block content %}
<h1>case_search</h1>
<h1>case_search</h1>
     {% comment %} action="/toolfamily/case/new/" 注意 在new 頁面要是這個action {% endcomment %}
    <form class = "from"  action=" " enctype="multipart/form-data" method="POST">
        {% csrf_token %}
         <div>
            <P>{% trans "簡單搜尋" %}</p>
            <label>{% trans "類型" %}: </label>
            <label><input type="checkbox" value="1" name="case_type"> {% trans "諮詢" %}</label>
            <label><input type="checkbox" value="2" name="case_type"> {% trans "家教" %}</label>
            <label><input type="checkbox" value="3" name="case_type"> {% trans "勞力" %}</label>
            <label><input type="checkbox" value="4" name="case_type"> {% trans "實驗" %}</label>
            <label><input type="checkbox" value="5" name="case_type"> {% trans "其他" %}</label>&nbsp&nbsp&nbsp
            <label> {% trans "領域" %}: </label>
            <label><input type="checkbox" value="1" name="case_field"> {% trans "電資" %}</label>
            <label><input type="checkbox" value="2" name="case_field"> {% trans "數理" %}</label>
            <label><input type="checkbox" value="3" name="case_field"> {% trans "人文科學" %}</label>
            <label><input type="checkbox" value="4" name="case_field"> {% trans "藝術設計" %}</label>
            <label><input type="checkbox" value="5" name="case_field"> {% trans "其他" %}</label>&nbsp&nbsp&nbsp
            <label> {% trans "文字搜尋" %}: </label>
                 <input type="text" name ="search" placeholder="Enter Your reward" >
            <input type="submit" value="{% trans "送出" %}"><br><br>
        </div>
        <div>
            <P>{% trans "複合搜尋" %}</p>
            <label>case_id </label>
            <input type="text" name ="case_id" placeholder="Enter Your title" >
            <label>title </label>
            <input type="text" name ="title" placeholder="Enter Your title" >
            <label>{% trans "內容說明" %}  </label>
            <input type="text" name ="description" placeholder="Enter Your description" >
            <label>{% trans "報酬方式" %} </label>
            <input type="text" name ="reward" placeholder="Enter Your reward" >
            <label>{% trans "徵求人數" %} </label>
            <input type="number" name ="num" placeholder="Enter Your num" >
            <label>{% trans "工作偏好" %} </label>
            <input type="number" name ="work" placeholder="Enter Your work" >
            <label>{% trans "地點" %}  </label>
            <input type="text" name ="location" placeholder="Enter Your location" >
            <label>{% trans "工作偏好" %}  </label>
            <input type="text" name ="constraint" placeholder="Enter Your constraint" >
            <label>{% trans "起始日期" %} </label>
            <input type="date" name ="date1" >
            <label>{% trans "結束日期" %}  </label>
            <input type="date" name ="date2" >
            <input type="submit" value="{% trans "送出" %}"><br><br>
        </div>
    </form>

    <h1>case_result</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <h2 style="color:red" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h2>
            {% endfor %}
        </ul>
    {% endif %}
     <table class="table">
        <thead>
            <tr>
                <th>case_id</th>
                <th>title</th>
                <th>{% trans "委託人" %}</th>
                <th>{% trans "報酬方式" %}</th>
                <th>{% trans "地點" %}</th>
                <th>{% trans "內容說明" %}</th>
                <th>{% trans "偏好條件" %}</th>
                <th>{% trans "開始時間" %}</th>
                <th>{% trans "結束時間" %}</th>
                <th>{% trans "狀態" %}</th>
                <th>{% trans "領域" %}</th>
                <th>{% trans "類型" %}</th>
                <th>{% trans "照片" %}</th>
                <th>{% trans "徵求人數" %}</th>
                <th>{% trans "工作偏好" %}</th>
                <th>{% trans "瀏覽人數" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for case in result_case%}
                <tr>
                  <td><a href="{% url 'case-profile' case.case_id %}">{{case.case_id}}</a></td>
                  <td>{{case.title}}</td>
                  <td>{{case.publisher}}</td>
                  <td>{{case.reward}}</td>
                  <td>{{case.location}}</td>
                  <td>{{case.description}}</td>
                  <td>{{case.constraint}}</td>
                  <td>{{case.started_datetime}}</td>
                  <td>{{case.ended_datetime}}</td>
                  <td>{{case.case_status.status_name}}</td>
                  <td>
                  {% for case_field in case_fields %}
                    {% if case_field.case_id == case.case_id%}
                        {{case_field.case_field.field_name}}
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>
                  {% for case_type in case_types %}
                    {% if case_type.case_id == case.case_id%}
                        {{case_type.case_type.type_name}}
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>
                  {% for photo in case_photo %}
                    {% if photo.case_id == case.case_id and photo.image.url != None%}
                        <img src="{{photo.image.url}}" alt="照片" style="width: 100px; height: 100px">
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>{{case.num}}</td>
                  <td>{{case.work}}</td>
                  <td>{{case.pageviews}}</td>
                </tr>

            {% endfor%}
        <tbody>
    </table>

{% endblock %}
