{% extends "base_generic.html" %}
{% block content %}
{% if alert %}
    <script type="text/javascript">
        alert({{erro|safe}});
    </script>
{% endif %}

<h1>case_search</h1>
<h1>case_search</h1>
    <P>type:{{type}} ; field: {{field}}; num:{{num}} ; date_time: {{date_time}}; work: {{work}} ; constraint: {{constraint}} ; location: {{location}}</p>
    <p>query_list: {{query_list}}</p>
    <form class = "from"  action=" " enctype="multipart/form-data" method="POST">
        {% csrf_token %}
         <div>
            <P>簡單搜尋</p>
             {% if type_value %}
                </p>回傳單一搜尋-type值:{{type_value}}</p>
             {% endif %}
             {% if field_value %}
                </p>回傳單一搜尋-field值:{{field_value}}</p>
             {% endif %}
            <label>類型: </label>
            <label><input type="checkbox" value="1" name="case_type"> 諮詢</label>
            <label><input type="checkbox" value="2" name="case_type"> 家教</label>
            <label><input type="checkbox" value="3" name="case_type"> 勞力</label>
            <label><input type="checkbox" value="4" name="case_type"> 實驗</label>
            <label><input type="checkbox" value="5" name="case_type"> 其他</label>&nbsp&nbsp&nbsp
            <label> 領域: </label>
            <label><input type="checkbox" value="1" name="case_field"> 電資</label>
            <label><input type="checkbox" value="2" name="case_field"> 數理</label>
            <label><input type="checkbox" value="3" name="case_field"> 人文科學</label>
            <label><input type="checkbox" value="4" name="case_field"> 藝術設計</label>
            <label><input type="checkbox" value="5" name="case_field"> 其他</label>&nbsp&nbsp&nbsp
            <label> 文字搜尋: </label>  
                 <input type="text" name ="case_query" placeholder="Enter Your reward" >
            <input type="submit" value="送出"><br><br>
        </div>
        <div>
            <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
        </div>
        <div>
            <P>複合搜尋</p>
            <label>類型: </label>
            <label><input type="checkbox" value="1" name="type"> 諮詢</label>
            <label><input type="checkbox" value="2" name="type"> 家教</label>
            <label><input type="checkbox" value="3" name="type"> 勞力</label>
            <label><input type="checkbox" value="4" name="type"> 實驗</label>
            <label><input type="checkbox" value="5" name="type"> 其他</label>&nbsp&nbsp&nbsp
            <label> 類型: </label>
            <label><input type="checkbox" value="1" name="field"> 電資</label>
            <label><input type="checkbox" value="2" name="field"> 數理</label>
            <label><input type="checkbox" value="3" name="field"> 人文科學</label>
            <label><input type="checkbox" value="4" name="field"> 藝術設計</label>
            <label><input type="checkbox" value="5" name="field"> 其他</label>&nbsp&nbsp&nbsp<br>
            <label> 關鍵字: </label>
            <label><input type="checkbox" value="1" name="query_list"> case1</label>
            <label><input type="checkbox" value="2" name="query_list"> case2</label>
            <label><input type="checkbox" value="3" name="query_list"> case3</label>
            <label><input type="checkbox" value="4" name="query_list"> case4</label>
            <label><input type="checkbox" value="5" name="query_list"> case5</label>
            <label><input type="checkbox" value="6" name="query_list"> case6</label>&nbsp&nbsp&nbsp<br>
            <label>徵求人數: </label>  &nbsp&nbsp
            <input type="number" name ="num" placeholder="Enter Your num" >&nbsp
             <label>結束日期:  </label> &nbsp&nbsp
            <input type="date" name ="date_time" >&nbsp
            <label>工作偏好: </label>  &nbsp&nbsp
            <input type="number" name ="work" placeholder="Enter Your work" >&nbsp<br>
            <label>偏好條件:  </label> &nbsp&nbsp
            <input type="text" name ="constraint" placeholder="Enter Your constraint" >&nbsp
            <label>地點:  </label> &nbsp&nbsp
            <input type="text" name ="location" placeholder="Enter Your location" >&nbsp
            <label>是否交集類型/類型: </label>&nbsp&nbsp
            <label><input type="checkbox" value="1" name="con"> 是</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <input type="submit" value="送出"><br><br>
        </div>
    </form>

    <h1>case_3</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <h2 style="color:red" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h2>
            {% endfor %}
        </ul>
    {% endif %}
     <table class="table">
        <thead>
            <tr>
                <th>case_id</th>
                <th>title</th>
                <th>委託人</th>
                <th>報酬方式</th>
                <th>地點</th>
                <th>內容說明</th>
                <th>偏好條件</th>
                <th>開始時間</th>
                <th>結束時間</th>
                <th>狀態</th>
                <th>領域</th>
                <th>類型</th>
                <th>照片</th>
                <th>徵求人數</th>
                <th>工作偏好</th>
                <th>瀏覽人數</th>
                <th>暱稱</th>
                <th>頭像</th>
                <th>性別</th>
                <th>部門</th>
                <th>評價</th>
                <th>上次登入時間</th>
            </tr>
        </thead>
        <tbody>
            {% for case in result_case%}
                <tr>
                  <td><a href="{% url 'case-profile' case.case_id %}">{{case.case_id}}</a></td>
                  <td>{{case.title}}</td>
                  <td>{{case.publisher}}</td>
                  <td>{{case.reward}}</td>
                  <td>{{case.location}}</td>
                  <td>{{case.description}}</td>
                  <td>{{case.constraint}}</td>
                  <td>{{case.started_datetime}}</td>
                  <td>{{case.ended_datetime}}</td>
                  <td>{{case.case_status.status_name}}</td>
                  <td>
                  {% for case_field in case_fields %}
                    {% if case_field.case_id == case.case_id%}
                        {{case_field.case_field.field_name}}
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>
                  {% for case_type in case_types %}
                    {% if case_type.case_id == case.case_id%}
                        {{case_type.case_type.type_name}}
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>
                  {% for photo in case_photo %}
                    {% if photo.case_id == case.case_id and photo.image.url != None%}
                        <img src="{{photo.image.url}}" alt="照片" style="width: 100px; height: 100px">
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>{{case.num}}</td>
                  <td>{{case.work}}</td>
                  <td>{{case.pageviews}}</td>
                  <td>{{case.publisher.nickname}}</td>
                  {% if case.publisher.icon.url != "" %}
                    <td><img src="{{case.publisher.icon.url}}" alt="頭貼" style="width: 100px; height: 100px"></td>
                  {% else %} 
                    <td> no phote </td>
                  {%endif%}
                  <td>{{case.publisher.gender}}</td>
                  <td>{{case.publisher.department}}</td>
                  <td>{{case.publisher.rate}}</td>
                  <td>{{case.publisher.last_login}}</td>
                </tr>
  
            {% endfor%}
        <tbody>
    </table> 

{% endblock %}
