.cn_font {
  font-family: Microsoft JhengHei;
}

.en_font{
  font-family: Simonetta;
}

a {
  text-decoration: none;
}

.main-color {
  color:#865140!important;
}

.search-dropdown:hover {
  background-color: #865140;
}


.search-dropdown-menu {
  width: 100% !important; 
  min-width: 0px !important;
}

#search-keyword {
  background-color: transparent;
  border-width: 0px;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #5e4949;
  border-bottom-left-radius: 0ch;
  border-bottom-right-radius: 0ch;
}

.keyword_input {
  border: 0px solid ;
  width: 250px;
  max-width: 250px;
  height:35px;
  margin-top: 2px;
  margin-bottom: 10px;
  padding-left: 42px;
  font-size: 16px;
  color: #000;
  background-color: transparent;
  outline: none;
  border-bottom-color: transparent;
  border-bottom: 1px solid;
}
.keyword_input:hover {
  background: #eee;
  border-bottom-color: #865140;
  border-bottom: 1px solid;
  border-bottom-left-radius: 0ch;
  border-bottom-right-radius: 0ch;
}

.keyword_input::-webkit-input-placeholder {
  font-size: 15px !important;
}

.keyword_icon {
  position: absolute;
  left: 10px;
  top: 6px;
  color: #444;
}

.keyword_wrap {
  position: relative;
}

.white-background {
  background-color: white !important;
}




.select {
  width: 100%;
  height: 30px;
  font-size: 12px;
  background: #f4f4f3;
  color: #5e4949;
}
.select:hover {
  background: rgb(227, 224, 223);
}


.select-filter {
  width: 120px;
  height: 30px;
  font-size: 14px;
  background: #ffffff;
  border-color: #c5c2c0;
  border-radius: 3px;
  color: #61605e;
  padding: 5px;
}
select.decorated option:hover {
  box-shadow: 0 0 10px 100px #1882A8 inset;
}
option {
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
options {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

input[type="text"] {
  border-color: #7B6363 ;
}

:focus {
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-input-placeholder {
  font-size: 12px;
}

.decorate-icon {
  position: absolute;
  left: -55px;
  width: 180px;
  top: -80px;
  height: 180px;
}

.form-check {
  /*font-size: 10px !important;*/
  margin-right: 10px;
  color: #865140;
  /*padding-bottom: 0px !important;*/
  /*line-height: 1px;*/
  min-height: 0px;
}

.form-check-input:checked {
  background-color: #865140;
}

.search-col {
  margin-top: 10px;
  height: auto;
  padding-left: 30px;
}

.img-box {
  width: 90px;
  height: 83px;
  background-image: url('/static/images/Apply-num-img.png');
  background-size: cover;
  display: block;
  /*border-radius: 100px;*/
  /*-webkit-border-radius: 100px;*/
  /*-moz-border-radius: 100px;*/
}

.xs-img-box {
  width: 55px;
  height: 48px;
  background-image: url('/static/images/Apply-num-img.png');
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.img-circular {
  width: 60px;
  height: 60px;
  background-image: url('/static/images/default_icon_1_small.png');
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.tag {
  text-decoration: none;
  color: rgb(165,141,141);
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 10px;
}

.tag:hover {
  text-decoration: none;
  color: #f4f4f3;
  background: #7b6363;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;

}

.case-card {
  padding-bottom: 2px;
  border: 0px;
  /*border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #5e4949;
  border-bottom-left-radius: 0ch;
  border-bottom-right-radius: 0ch;*/
}

.star-color {
  color: #f5c548;
  font-size: 12px;
}
