.cn_font {
    font-family: Microsoft JhengHei;
}
  
.en_font{
    font-family: Simonetta;
}
  
a {
    text-decoration: none;
}

.main-color {
    color:#865140;
}

@media screen and (max-width: 768px){
.i-case-bookmark {
    top: -6% !important;
    right: 0% !important;
}
}

.i-case-bookmark {
    color: #865140;
    position: absolute;
    top: -5%;
    right: 15%;
    font-size: 40px;
}

#case-status {
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  font-size: 12px !important;
  border-radius: 5px !important;
  font-weight: bold !important;
}


:focus {
-webkit-tap-highlight-color: transparent;
}



.decorate-icon {
position: absolute;
left: -55px;
width: 180px;
top: -80px;
height: 180px;
}


.a-title:hover {
color: #b94700 !important;
}

@media screen and (max-width: 1000px){
.img-box{
    position: absolute;
    left: -8px !important;
    width: 80px !important;
    height: 73px !important;
}

#s-apply-num-v{
    left:35% !important;
    top: 18% !important;
}

#s-apply-num-t {
    left:25% !important;
    bottom: 15% !important;
}
}


  
  #p-apply-num {
    margin-top: none;
  }
  
  .img-box {
    width: 80px;
    height: 73px;
    background-image: url('/static/images/Apply-num-img.png');
    background-size: cover;
    display: block;
    left: 10%;
    /*border-radius: 100px;*/
    /*-webkit-border-radius: 100px;*/
    /*-moz-border-radius: 100px;*/
  }
  
  
  .img-circular {
    width: 60px;
    height: 60px;
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }
  
  .tag {
    text-decoration: none;
    color: rgb(165,141,141);
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10px;
  }
  
  .tag:hover {
    text-decoration: none;
    color: #f4f4f3;
    background: #7b6363;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
  
  }
  
  .case-card {
    padding-bottom: 2px;
    border: 0px;
    /*border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #5e4949;
    border-bottom-left-radius: 0ch;
    border-bottom-right-radius: 0ch;*/
  }
  
  .star-color {
    color: #f5c548;
    font-size: 12px;
  }
  
  