.hide{
    display: none;
}

.bold{
    font-weight:bold
}

.star-color {
    color: #f5c548;
    font-size: 16px;
}
/* image */
.img-circular{
    background-image: url('/static/images/default_icon_1.png');
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    width: 200px;
    height: 200px;
}
.dropdown-item {
    white-space: pre-line;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}