asgiref==3.5.0
backcall==0.2.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
csv-diff==1.1
decorator==5.0.7
dictdiffer==0.9.0
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.3
django-heroku==0.3.1
django-on-heroku==1.1.2
filelock==3.6.0
gunicorn==20.1.0
heroku==0.1.4
idna==3.3
ipykernel==5.5.3
ipython==7.23.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
lineedit==0.1.6
matplotlib-inline==0.1.2
mysql-connector==2.2.9
mysql-connector-python==8.0.25
parso==0.8.2
pickleshare==0.7.5
Pillow==9.0.1
pipenv==2022.1.8
platformdirs==2.5.1
prompt-toolkit==3.0.18
protobuf==3.15.8
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycparser==2.21
Pygments==2.8.1
pyodbc==4.0.30
python-dateutil==1.5
pywin32==300
pyzmq==22.0.3
radian==0.5.13
rchitect==0.3.35
requests==2.27.1
six==1.15.0
sqlparse==0.4.2
tornado==6.1
traitlets==5.0.5
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.13.3
virtualenv-clone==0.5.7
wcwidth==0.2.5
whitenoise==6.0.0
