<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Forget pwd</title>
    </head>
    <body>
        <h1>忘記密碼</h1>

        {% comment %} {% if pwd_error %}
            <p>與確認密碼不相符</p>
        {% elif email_error %}
            <p>信箱格式錯誤或已註冊</p>
        {% endif %} {% endcomment %}

        <form action="" method="post">
            {% csrf_token %}

            <label for="account">台大信箱: </label>
            <input type="text" name="account" value="" id="account" required=true> <br/>

            <input type="submit" value="發送驗證">
        </form>
    </body>
</html>