{% extends "base_generic.html" %}
{% load i18n %}
<!-- index -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>case-search</title>
    <link rel="stylesheet" href="\static\bootstrap\css\bootstrap.min.css">
    <link rel="stylesheet" href="\static\fonts\material-icons.min.css">
    <link rel="stylesheet" href="\static\css\index-styles.css">
    <link rel="stylesheet" href="\static\css\search-bar-styles.css">
    <link rel="stylesheet" href="\static\css\font.css">


    <script src="\static\js\index.js"></script>
    <script src="\static\js\search-bar.js"></script>
</head>

<body  style="background: #f4f4f3;">

        <!----------Image Board---------->
        <div class="container" style="margin-top: 50PX;height: 500px;width: 100%;margin-right: 0px;margin-left: 0px;padding-right: 0px;padding-left: 0px;max-width: none;">
            <div class="row" style="width: 100%;margin: 0px;background-color: #261d1d;">
                <div class="col" style="width: 100%;padding: 0px;position: relative;">
                    <img src="\static\images\banner_1.jpg" style="width: 100%;height: 500px;object-fit:cover;opacity: 50%;">
                    <div style="position: absolute;top:15%; left: 0;right: 0;margin-left: auto;margin-right: auto; width: 500px;;text-align: center;">
                        <h4 class="mb-3 font-stardos-stencil" style="color:#f4f4f3;">NTU <br> TOOL BOX</h4>
                        <hr style="opacity: 100%;color:#f4f4f3; width: 15%;margin:auto">
                        <h1 class="mt-4" style="font-size:45px;color:#f4f4f3;">{% trans "尋找" %}<br>{% trans "屬於你的委託" %}</h1>
                        <button class="btn mt-3" id="btn_banner_search" onclick="location.href='/toolfamily/case/search/'">{% trans "開始接案" %}</button>
                    </div>


                </div>
            </div>
        </div>

        <!----------Search Bar---------->
        <form class = "from"   action="/toolfamily/case/search/" enctype="multipart/form-data" method="POST" id="search-form">
            {% csrf_token %}
            <input class="d-none" type="checkbox" name="case_field" id="forminput-case-field">
            <input class="d-none" type="checkbox" name="case_type" id="forminput-case-type">
            <input class="d-none" type="text" name ="case_query" id="forminput-case-query">
            <input class="d-none" type="num" name="page" id="forminput-case-page">
            <input class="d-none" type="submit" id="search-submit" >

            <div class="container  d-flex justify-content-end" style="margin-top: 50px;"">
                <div class="row">
                    <div class="col" style="align-items: flex-end; line-height: 40px;">
                        <div id="div-search-allcase">
                            <a class="main-color" href="#" id="link-search-allcase" style="text-decoration: none !important;">{% trans "全部案件" %}</a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="dropdown search-dropdown show" id="dropdown-field">
                            <a class="btn dropdown-toggle main-color"  role="button" id="dropdownlink-field" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans "找領域" %}
                            </a>
                            <div class="dropdown-menu search-dropdown-menu" aria-labelledby="dropdownlink-field">
                            <a class="dropdown-item a-search a-search-field" href="#" data-value="1">{% trans "電資" %}</a>
                            <a class="dropdown-item a-search a-search-field" href="#" data-value="2">{% trans "數理" %}</a>
                            <a class="dropdown-item a-search a-search-field" href="#" data-value="3">{% trans "人文科學" %}</a>
                            <a class="dropdown-item a-search a-search-field" href="#" data-value="4">{% trans "藝術設計" %}</a>
                            <a class="dropdown-item a-search a-search-field" href="#" data-value="5">{% trans "其他" %}</a>

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="dropdown search-dropdown show" id="dropdown-type">
                            <a class="btn dropdown-toggle a-search"  role="button" id="dropdownlink-type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans "找類型" %}
                            </a>
                            <div class="dropdown-menu search-dropdown-menu" aria-labelledby="dropdownlink-type">
                            <a class="dropdown-item a-search a-search-type" href="#" data-value="1">{% trans "諮詢" %}</a>
                            <a class="dropdown-item a-search a-search-type" href="#" data-value="2">{% trans "家教" %}</a>
                            <a class="dropdown-item a-search a-search-type" href="#" data-value="3">{% trans "勞力" %}</a>
                            <a class="dropdown-item a-search a-search-type" href="#" data-value="4">{% trans "實驗" %}</a>
                            <a class="dropdown-item a-search a-search-type" href="#" data-value="5">{% trans "其他" %}</a>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="keyword_wrap search-div">
                            <input id="search-keyword" type="text" class="keyword_input" placeholder="{% trans "輸入委託關鍵字" %}" value="">
                            <div class="clear_search_icon" style="display: none;">
                                <i class="material-icons">search</i>
                            </div>
                            <a href="#" id="link-search-keyword">
                                <i class="material-icons keyword_icon">search</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr class="d-lg-flex" style="width: 95%;margin: auto;margin-right: 20px;margin-left: 20px;margin-top: 0px;opacity: 1;border-color: #5e4949;color: #5e4949;">

        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-12 col-md-3" style="padding: 0px;">
                    <div id="div-notify">
                        <span style="font-size: 20px;color:#865140">{% trans "通知訊息" %}</span>
                        <hr class="mt-1" style="height: 2px;opacity: 90%;color:#865140;">
                        {% comment %} {% trans "已經排序且篩選前 10 筆" %} {% endcomment %}
                        {% for msg in notice %}
                                <span style="font-size: 12px">{{msg.message}}</span>
                                <hr class="mt-1 mb-1">
                        {% endfor %}
                    </div>
                </div>




                <div class="col-12 col-md-9">
                    <form class = "from"   action="/toolfamily/home/" enctype="multipart/form-data" method="POST" id="index-form" name="index_form">
                        {% csrf_token %}
                        <input class="d-none" name="page_new" type="number" id="forminput-page-new">
                        <input class="d-none" name="page_most" type="number" id="forminput-page-most">
                        <input class="d-none" name="page_scrolltop" type="number" id="forminput-page-scrolltop" value="0">
                        <input class="d-none" type="submit" id="forminput-submit">
                        <span class="d-none" id="get-input-page-new" data-value="{{new_case.number}}">{{new_case.number}}</span>
                        <span class="d-none" id="get-input-page-most" data-value="{{most_case.number}}">{{most_case.number}}</span>
                        <span class="d-none" id="get-input-page-scrolltop" data-value="{{page_scrolltop}}">{{page_scrolltop}}</span>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="d-inline-block">
                                        <img class="decorate-icon" src="/static/images/icon_2.png">
                                        <h1 class="d-inline-block" style="margin-left: 70px;font-size: 40px;width: auto;"><span>{% trans "最新案件" %}</span></h1>


                                        <!--Pagination-->
                                        <div class="d-inline-block" style="float: right;">
                                            <ul class="pagination" style="width: auto;">
                                            {% if new_case.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link new-page-link" href="#" data-value="{{new_case.previous_page_number}}">＜</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link new-page-link" href="#" tabindex="-1" aria-disabled="True">＜</a>
                                                </li>
                                            {% endif %}
                                            {% for i in new_case.paginator.page_range %}
                                                {% if new_case.number == i %}
                                                    <li class="page-item" aria-current="page" aria-disabled="True">
                                                        <span class="page-link new-page-link" data-value="{{i}}" style="pointer-events: none;background-color:#e4e2e2">
                                                        {{ i }}
                                                        </span>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item">
                                                        <a class="page-link new-page-link" href="#" data-value="{{i}}">{{ i }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if new_case.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link new-page-link" href="#" data-value="{{new_case.next_page_number}}">＞</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link new-page-link" href="#" tabindex="-1" aria-disabled="True">＞</a>
                                                </li>
                                            {% endif %}
                                            </ul>
                                        </div>

                                        <!--end of Pagination-->
                                    </div>
                                    <hr>
                                    <!----------Case Card---------->
                                    <div id="case-cards">
                                        {% for case in new_case%}
                                            <div class="col-12 case-card" id="case-card-{{case.case_id}}">
                                                <span class="d-none filter-num">{{case.num}}</span>
                                                <span class="d-none filter-enddate">{{case.ended_datetime}}</span>


                                                <div class="card case-card case-counter">
                                                    <div class="card-body" style="padding-bottom: 5px;">
                                                        <div class="row">
                                                            <!----------Applyication Num---------->
                                                            <div class="col-2" style="position: relative;">
                                                                <div class="img-box d-none d-sm-block" style="align-items: center;position:absolute;">
                                                                    {% for key,value in new_apply.items %}
                                                                        {% if key == case.case_id %}
                                                                                <span class="en_font" id="s-apply-num-v" style="font-size: 24px;color: #f4f4f3;position: absolute;left: 33%;top: 15%;">{{value}}</span>
                                                                        {% endif %}
                                                                    {% endfor%}
                                                                    <span id="s-apply-num-t" style="font-size: 12px;color: #f4f4f3;position: absolute;left: 25%;bottom: 20%;">{% trans "應徵中" %}</span>
                                                                </div>

                                                                <div class="img-box d-block d-sm-none" style="width: 60px!important;height:55px!important;align-items: center;position:absolute;">
                                                                    {% for key,value in new_apply.items %}
                                                                        {% if key == case.case_id %}
                                                                                <span class="en_font" id="s-apply-num-v" style="font-size: 18px;color: #f4f4f3;position: absolute;left: 33%;top: 15%;">{{value}}</span>
                                                                        {% endif %}
                                                                    {% endfor%}
                                                                    <span id="s-apply-num-t" style="font-size: 10px;color: #f4f4f3;position: absolute;left: 20%;bottom: 15%;">{% trans "應徵中" %}</span>
                                                                </div>



                                                            </div>


                                                            <!----------Case Main Info---------->
                                                            <div class="col-10 col-md-8">

                                                                <h4 class="d-inline-block" style="color: rgb(38,29,29);font-weight: bold;font-size: 18px;margin-bottom: 0px;">
                                                                    <a class="d-none d-xl-block a-title" href="{% url 'case-profile' case.case_id %}" style="color: rgb(38,29,29);">{{case.title|truncatechars_html:25}}</a>
                                                                    <a class="d-none d-md-block d-xl-none a-title" href="{% url 'case-profile' case.case_id %}" style="color: rgb(38,29,29);">{{case.title|truncatechars_html:18}}</a>
                                                                    <a class="d-md-none d-lg-none d-xl-none a-title" href="{% url 'case-profile' case.case_id %}" style="color: rgb(38,29,29);">{{case.title|truncatechars_html:15}}</a>

                                                                </h4>
                                                                {% if case.case_status.status_name == "徵求" %}
                                                                    <span id="case-status" class="justify-content-center align-items-center" style=" background: #f5c548 !important">{% trans "徵求中" %}</span>
                                                                {% elif case.case_status.status_name == "進行" %}
                                                                    <span id="case-status" class="justify-content-center align-items-center" style="background: #d43747;color: white">{% trans "委託中" %}</span>
                                                                {% elif case.case_status.status_name == "完成" %}
                                                                    <span id="case-status" class="justify-content-center align-items-center" style="background: #d6d6d6">{% trans "已完成" %}</span>
                                                                {% endif %}
                                                                <!----------Second Info---------->
                                                                <div class="mt-1 d-xl-flex d-inline-block align-items-center justify-content-start" style="height: auto;width: 100%;font-size: 10px;">
                                                                    <i class="material-icons" style="margin-right: 5px;color: #865140;font-size: 16px;">confirmation_number</i>
                                                                    <span style="color: #865140;margin-right: 5px;font-size: 16px;">
                                                                    {{case.reward}}
                                                                    </span>

                                                                    <span style="color: #865140;margin-right: 5px;margin-left: 5px;">|</span>

                                                                    <i class="material-icons" style="margin-right: 5px;color: #865140;font-size: 10px;">people</i>
                                                                    <span class="case-mum" id="case-num-{{case.case_id}}" style="margin-right: 5px;color: #865140;">
                                                                        {{case.num}}人
                                                                    </span>

                                                                    <span style="margin-left: 5px;margin-right: 5px;color: #865140;">|</span>

                                                                    <i class="material-icons" style="margin-right: 5px;color: #865140;font-size: 10px;">location_on</i>
                                                                    <span style="margin-right: 5px;color: #865140;">
                                                                        {{ case.location|truncatechars_html:10 }}
                                                                    </span>

                                                                    <span style="margin-right: 5px;margin-right: 5px;color: #865140;">|</span>

                                                                    <i class="material-icons" style="margin-right: 5px;color: #865140;font-size: 10px;">build</i>
                                                                    <span style="margin-right: 5px;color: #865140;">
                                                                        {% if case.work == 1 %}
                                                                        {% trans "需到現場" %}
                                                                        {% else %}
                                                                        {% trans "線上" %}
                                                                        {%endif%}
                                                                    </span>
                                                                </div>

                                                                <!----------Description---------->
                                                                <p class="mt-3 mb-3" id="case-description" style="color: #261d1d;font-size: 14px;height: auto;line-height: 18px;width: 90%;margin-bottom: 10px;">
                                                                    {% if case.description == "" %}
                                                                        <font color="#746a6a">{% trans "無案件詳細描述。" %}</font>
                                                                    {% else %}
                                                                        {{ case.description|truncatechars_html:35 }}
                                                                    {% endif %}
                                                                </p>

                                                                <hr style="color: #5e4949;margin-top: 3px;margin-bottom: 3px;">

                                                                <!----------Fields & Types---------->
                                                                {% for case_field in case_fields %}
                                                                    {% if case_field.case_id == case.case_id%}
                                                                        <a class="d-inline tag" href="#">#{{case_field.case_field.field_name}}</a>
                                                                    {%endif%}
                                                                {% endfor %}
                                                                {% for case_type in case_types %}
                                                                    {% if case_type.case_id == case.case_id%}
                                                                        <a class="d-inline tag" href="#">#{{case_type.case_type.type_name}}</a>
                                                                    {%endif%}
                                                                {% endfor %}

                                                                <!----------Bookmark

                                                                <img class="i-case-bookmark" src="/static/images/bookmark-outline-icon.png">---------->
                                                            </div>

                                                            <!----------User Main Info---------->
                                                            <div class="justify-content-lg-center align-items-lg-start d-none d-md-block col-2 col-md-2">
                                                                <div class="row">
                                                                    <!----------User Icon---------->
                                                                    <div class="col-12 d-flex justify-content-center align-items-center">
                                                                        <div class="text-center">
                                                                            <a href="#">
                                                                                {% if case.publisher.icon %}
                                                                                    <div class="img-circular" id="user-icon"   style="background-image: url({{case.publisher.icon.url}});"></div>
                                                                                {% else %}
                                                                                    <div class="img-circular" id="user-icon"   style="background-image: url('/static/images/default_icon_1.png');"></div>

                                                                                {% endif %}
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    </div>

                                                                    <!----------User Rate---------->
                                                                    <div class="col-12 d-flex justify-content-center align-items-center" style="margin-top: 3px;">
                                                                        <div id="user-rate-{{case.case_id}}" class=" d-flex justify-content-center align-items-center">
                                                                            <script>
                                                                                $('#user-rate-{{case.case_id}}').html(userRate({{case.publisher.rate}}));    // assuming f() is defined in script.js
                                                                            </script>
                                                                        </div>
                                                                        <span id="user-ratenum" style="color: #865140;font-size: 14px">
                                                                        ({{case.publisher.rate_num}})
                                                                        </span>
                                                                    </div>

                                                                    <!----------User Nickname---------->
                                                                    <div class="col-12 d-flex justify-content-center align-items-center" style="margin-top: 3px;">
                                                                        <span id="user-nickname" style="font-size: 14px;text-align: center;font-weight: bold;">
                                                                        {% if case.publisher.nickname == "" %}
                                                                            {{case.publisher.name}}
                                                                        {% else %}
                                                                            {{case.publisher.nickname}}
                                                                        {%endif%}
                                                                        </span>

                                                                    </div>

                                                                    <!----------User Last Login Time---------->
                                                                    <div class="col-12 d-flex justify-content-center align-items-center">
                                                                        <span class="justify-content-center align-items-center text-center" id="user-lastlogintime-{{case.case_id}}" style="font-size: 8px;margin-top: 3px;color: #b8b3b3;">
                                                                            <script>
                                                                                $('#user-lastlogintime-{{case.case_id}}').html(userLastLogin('{{case.publisher.last_login}}'));
                                                                            </script>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>
                                                <hr class="mt-1 mb-0" style="border: none;width: 98%; height: 1px;margin: auto;opacity: 0.5;border-color: #5e4949;color: #5e4949;">

                                        {% endfor%}

                                    </div><!----------End Case Card---------->


                                </div>
                            </div>
                        </div>




                        <div class="card mt-5">
                            <div class="card-body">
                                <div class="row">

                                    <div class="d-inline-block">
                                        <img class="decorate-icon" src="/static/images/icon_3.png">
                                        <h1 class="d-inline-block" style="margin-left: 70px;width: auto;"><span>{% trans "熱門案件" %}</span></h1>
                                        <!--Pagination-->
                                        <div class="d-inline-block" style="float: right;">
                                            <ul class="pagination" style="width: auto;">
                                            {% if most_case.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link most-page-link" href="#" data-value="{{most_case.previous_page_number}}">＜</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link most-page-link" href="#" tabindex="-1" aria-disabled="True">＜</a>
                                                </li>
                                            {% endif %}
                                            {% for i in most_case.paginator.page_range %}
                                                {% if most_case.number == i %}
                                                    <li class="page-item" aria-current="page" aria-disabled="True">
                                                        <span class="page-link most-page-link" data-value="{{i}}" style="pointer-events: none;background-color:#e4e2e2">
                                                        {{ i }}
                                                        </span>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item">
                                                        <a class="page-link most-page-link" href="#" data-value="{{i}}">{{ i }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if most_case.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link most-page-link" href="#" data-value="{{most_case.next_page_number}}">＞</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link most-page-link" href="#" tabindex="-1" aria-disabled="True">＞</a>
                                                </li>
                                            {% endif %}
                                            </ul>
                                        </div>

                                        <!--end of Pagination-->
                                    </div>
                                    <hr>
                                    <!----------Case Card---------->
                                    <div id="case-cards">
                                        {% for case in most_case%}
                                            <div class="col-12 case-card" id="case-card-{{case.case_id}}">
                                                <span class="d-none filter-num">{{case.num}}</span>
                                                <span class="d-none filter-enddate">{{case.ended_datetime}}</span>


                                                <div class="card case-card case-counter">
                                                    <div class="card-body" style="padding-bottom: 5px;">
                                                        <div class="row">
                                                            <!----------Applyication Num---------->
                                                            <div class="col-2" style="position: relative;">
                                                                <div class="img-box d-none d-sm-block" style="align-items: center;position:absolute;">
                                                                    {% for key,value in most_apply.items %}
                                                                        {% if key == case.case_id %}
                                                                                <span class="en_font" id="s-apply-num-v" style="font-size: 24px;color: #f4f4f3;position: absolute;left: 33%;top: 15%;">{{value}}</span>
                                                                        {% endif %}
                                                                    {% endfor%}
                                                                    <span id="s-apply-num-t" style="font-size: 12px;color: #f4f4f3;position: absolute;left: 25%;bottom: 20%;">{% trans "應徵中" %}</span>
                                                                </div>

                                                                <div class="img-box d-block d-sm-none" style="width: 60px!important;height:55px!important;align-items: center;position:absolute;">
                                                                    {% for key,value in most_apply.items %}
                                                                        {% if key == case.case_id %}
                                                                                <span class="en_font" id="s-apply-num-v" style="font-size: 18px;color: #f4f4f3;position: absolute;left: 33%;top: 15%;">{{value}}</span>
                                                                        {% endif %}
                                                                    {% endfor%}
                                                                    <span id="s-apply-num-t" style="font-size: 10px;color: #f4f4f3;position: absolute;left: 20%;bottom: 15%;">{% trans "應徵中" %}</span>
                                                                </div>
                                                            </div>


                                                            <!----------Case Main Info---------->
                                                            <div class="col-10 col-md-8">

                                                                <h4 class="d-inline-block" style="color: rgb(38,29,29);font-weight: bold;font-size: 18px;margin-bottom: 0px;">
                                                                    <a class="d-none d-xl-block a-title" href="{% url 'case-profile' case.case_id %}" style="color: rgb(38,29,29);">{{case.title|truncatechars_html:25}}</a>
                                                                    <a class="d-none d-md-block d-xl-none a-title" href="{% url 'case-profile' case.case_id %}" style="color: rgb(38,29,29);">{{case.title|truncatechars_html:18}}</a>
                                                                    <a class="d-md-none d-lg-none d-xl-none a-title" href="{% url 'case-profile' case.case_id %}" style="color: rgb(38,29,29);">{{case.title|truncatechars_html:15}}</a>

                                                                </h4>
                                                                {% if case.case_status.status_name == "徵求" %}
                                                                    <span id="case-status" class="justify-content-center align-items-center" style=" background: #f5c548 !important">{% trans "徵求中" %}</span>
                                                                {% elif case.case_status.status_name == "進行" %}
                                                                    <span id="case-status" class="justify-content-center align-items-center" style="background: #d43747;color: white">{% trans "委託中" %}</span>
                                                                {% elif case.case_status.status_name == "完成" %}
                                                                    <span id="case-status" class="justify-content-center align-items-center" style="background: #d6d6d6">{% trans "已完成" %}</span>
                                                                {% endif %}
                                                                <!----------Second Info---------->
                                                                <div class="mt-1 d-xl-flex d-inline-block align-items-center justify-content-start" style="height: auto;width: 100%;font-size: 10px;">
                                                                    <i class="material-icons" style="margin-right: 5px;color: #865140;font-size: 16px;">confirmation_number</i>
                                                                    <span style="color: #865140;margin-right: 5px;font-size: 16px;">
                                                                    {{case.reward}}
                                                                    </span>

                                                                    <span style="color: #865140;margin-right: 5px;margin-left: 5px;">|</span>

                                                                    <i class="material-icons" style="margin-right: 5px;color: #865140;font-size: 10px;">people</i>
                                                                    <span class="case-mum" id="case-num-{{case.case_id}}" style="margin-right: 5px;color: #865140;">
                                                                        {{case.num}}{% trans "人" %}
                                                                    </span>

                                                                    <span style="margin-left: 5px;margin-right: 5px;color: #865140;">|</span>

                                                                    <i class="material-icons" style="margin-right: 5px;color: #865140;font-size: 10px;">location_on</i>
                                                                    <span style="margin-right: 5px;color: #865140;">
                                                                        {{ case.location|truncatechars_html:10 }}
                                                                    </span>

                                                                    <span style="margin-right: 5px;margin-right: 5px;color: #865140;">|</span>

                                                                    <i class="material-icons" style="margin-right: 5px;color: #865140;font-size: 10px;">build</i>
                                                                    <span style="margin-right: 5px;color: #865140;">
                                                                        {% if case.work == 1 %}
                                                                        {% trans "需到現場" %}
                                                                        {% else %}
                                                                        {% trans "線上" %}
                                                                        {%endif%}
                                                                    </span>
                                                                </div>

                                                                <!----------Description---------->
                                                                <p class="mt-3 mb-3" id="case-description" style="color: #261d1d;font-size: 14px;height: auto;line-height: 18px;width: 90%;margin-bottom: 10px;">
                                                                    {% if case.description == "" %}
                                                                        <font color="#746a6a">{% trans "無案件詳細描述。" %}</font>
                                                                    {% else %}
                                                                        {{ case.description|truncatechars_html:35 }}
                                                                    {% endif %}
                                                                </p>

                                                                <hr style="color: #5e4949;margin-top: 3px;margin-bottom: 3px;">

                                                                <!----------Fields & Types---------->
                                                                {% for case_field in case_fields %}
                                                                    {% if case_field.case_id == case.case_id%}
                                                                        <a class="d-inline tag" href="#">#{{case_field.case_field.field_name}}</a>
                                                                    {%endif%}
                                                                {% endfor %}
                                                                {% for case_type in case_types %}
                                                                    {% if case_type.case_id == case.case_id%}
                                                                        <a class="d-inline tag" href="#">#{{case_type.case_type.type_name}}</a>
                                                                    {%endif%}
                                                                {% endfor %}

                                                                <!----------Bookmark

                                                                <img class="i-case-bookmark" src="/static/images/bookmark-outline-icon.png">---------->
                                                            </div>

                                                            <!----------User Main Info---------->
                                                            <div class="justify-content-lg-center align-items-lg-start d-none d-md-block col-2 col-md-2">
                                                                <div class="row">
                                                                    <!----------User Icon---------->
                                                                    <div class="col-12 d-flex justify-content-center align-items-center">
                                                                        <div class="text-center">
                                                                            <a href="#">
                                                                                {% if case.publisher.icon %}
                                                                                    <div class="img-circular" id="user-icon"   style="background-image: url({{case.publisher.icon.url}});"></div>
                                                                                {% else %}
                                                                                    <div class="img-circular" id="user-icon"   style="background-image: url('/static/images/default_icon_1.png');"></div>

                                                                                {% endif %}
                                                                            </a>
                                                                        </div>
                                                                    </div>

                                                                    <!----------User Rate---------->
                                                                    <div class="col-12 d-flex justify-content-center align-items-center" style="margin-top: 3px;">
                                                                        <div id="user-rate-most-{{case.case_id}}" class=" d-flex justify-content-center align-items-center">
                                                                            <script>
                                                                                $('#user-rate-most-{{case.case_id}}').html(userRate({{case.publisher.rate}}));    // assuming f() is defined in script.js
                                                                            </script>
                                                                        </div>
                                                                        <span id="user-ratenum" style="color: #865140;font-size: 14px">
                                                                        ({{case.publisher.rate_num}})
                                                                        </span>
                                                                    </div>

                                                                    <!----------User Nickname---------->
                                                                    <div class="col-12 d-flex justify-content-center align-items-center" style="margin-top: 3px;">
                                                                        <span id="user-nickname-most" style="font-size: 14px;text-align: center;font-weight: bold;">
                                                                        {% if case.publisher.nickname == "" %}
                                                                            {{case.publisher.name}}
                                                                        {% else %}
                                                                            {{case.publisher.nickname}}
                                                                        {%endif%}
                                                                        </span>

                                                                    </div>

                                                                    <!----------User Last Login Time---------->
                                                                    <div class="col-12 d-flex justify-content-center align-items-center">
                                                                        <span class="justify-content-center align-items-center text-center" id="user-lastlogintime-most-{{case.case_id}}" style="font-size: 8px;margin-top: 3px;color: #b8b3b3;">
                                                                            <script>
                                                                                $('#user-lastlogintime-most-{{case.case_id}}').html(userLastLogin('{{case.publisher.last_login}}'));
                                                                            </script>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>
                                                <hr class="mt-1 mb-0" style="border: none;width: 98%; height: 1px;margin: auto;opacity: 0.5;border-color: #5e4949;color: #5e4949;">
                                            </div>
                                        {% endfor%}

                                    </div><!----------End Case Card---------->


                                </div>
                            </div>
                        </div><!-------End of Most Case-->
                    </form>
                </div>

                </div>
            </div>



</body>




{% endblock %}
