{% extends "base_generic.html" %}
{% block content %}
{% if alert %}
    <script type="text/javascript">
        alert({{erro|safe}});
    </script>
{% endif %}
  
    <h1>all_case_show</h1>
    <h1>new_all_case_show</h1>
     <table class="table">
        <thead>
            <tr>
                <th>case_id</th>
                <th>title</th>
                <th>委託人</th>
                <th>報酬方式</th>
                <th>地點</th>
                <th>內容說明</th>
                <th>偏好條件</th>
                <th>開始時間</th>
                <th>結束時間</th>
                <th>狀態</th>
                <th>領域</th>
                <th>類型</th>
                <th>照片</th>
                <th>徵求人數</th>
                <th>工作偏好</th>
                <th>瀏覽人數</th>
            </tr>
        </thead>
        <tbody>
            {% for case in new_case%}
                <tr>
                  <td><a href="{% url 'case-profile' case.case_id %}">{{case.case_id}}</a></td>
                  <td>{{case.title}}</td>
                  <td>{{case.publisher}}</td>
                  <td>{{case.reward}}</td>
                  <td>{{case.location}}</td>
                  <td>{{case.description}}</td>
                  <td>{{case.constraint}}</td>
                  <td>{{case.started_datetime}}</td>
                  <td>{{case.ended_datetime}}</td>
                  <td>{{case.case_status.status_name}}</td>
                  <td>
                  {% for case_field in case_fields %}
                    {% if case_field.case_id == case.case_id%}
                        {{case_field.case_field.field_name}}
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>
                  {% for case_type in case_types %}
                    {% if case_type.case_id == case.case_id%}
                        {{case_type.case_type.type_name}}
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>
                  {% for photo in case_photo %}
                    {% if photo.case_id == case.case_id and photo.image.url != None%}
                        <img src="{{photo.image.url}}" alt="照片" style="width: 100px; height: 100px">
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>{{case.num}}</td>
                  <td>{{case.work}}</td>
                  <td>{{case.pageviews}}</td>
                </tr>
  
            {% endfor%}
        <tbody>
    </table>

    {% if new_case.has_other_pages %}
    <ul class="pagination">

        {% if new_case.has_previous %}
            <li><a href="?page_new={{ new_case.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in new_case.paginator.page_range %}
            {% if new_case.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
            {% else %}
        <li><a href="?page_new={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if new_case.has_next %}
            <li><a href="?page_new={{ new_case.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}


    <h1>popular_case_show</h1>
     <table class="table">
        <thead>
            <tr>
                <th>case_id</th>
                <th>title</th>
                <th>委託人</th>
                <th>報酬方式</th>
                <th>地點</th>
                <th>內容說明</th>
                <th>偏好條件</th>
                <th>開始時間</th>
                <th>結束時間</th>
                <th>狀態</th>
                <th>領域</th>
                <th>類型</th>
                <th>照片</th>
                <th>徵求人數</th>
                <th>工作偏好</th>
                <th>瀏覽人數</th>
            </tr>
        </thead>
        <tbody>
            {% for case in most_case%}
                <tr>
                  <td><a href="{% url 'case-profile' case.case_id %}">{{case.case_id}}</a></td>
                  <td>{{case.title}}</td>
                  <td>{{case.publisher}}</td>
                  <td>{{case.reward}}</td>
                  <td>{{case.location}}</td>
                  <td>{{case.description}}</td>
                  <td>{{case.constraint}}</td>
                  <td>{{case.started_datetime}}</td>
                  <td>{{case.ended_datetime}}</td>
                  <td>{{case.case_status.status_name}}</td>
                  <td>
                  {% for case_field in case_fields %}
                    {% if case_field.case_id == case.case_id%}
                        {{case_field.case_field.field_name}}
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>
                  {% for case_type in case_types %}
                    {% if case_type.case_id == case.case_id%}
                        {{case_type.case_type.type_name}}
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>
                  {% for photo in case_photo %}
                    {% if photo.case_id == case.case_id and photo.image.url != None%}
                        <img src="{{photo.image.url}}" alt="照片" style="width: 100px; height: 100px">
                    {%endif%}
                  {% endfor %}
                  </td>
                  <td>{{case.num}}</td>
                  <td>{{case.work}}</td>
                  <td>{{case.pageviews}}</td>
                </tr>
  
            {% endfor%}
        <tbody>
    </table>

     {% if most_case.has_other_pages %}
    <ul class="pagination">

        {% if most_case.has_previous %}
            <li><a href="?page_new={{ most_case.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in most_case.paginator.page_range %}
            {% if most_case.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
            {% else %}
        <li><a href="?page_new={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if most_case.has_next %}
            <li><a href="?page_new={{ most_case.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
 


{% endblock %}


