<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>

        {% if alert %}
            <script type="text/javascript">
                alert({{ sign_up_message|safe }});
            </script>
        {% endif %}
    </head>

    <body>
        {% if suspended %}
            <p>帳號已停權</p>
        {% elif error %}
            <p>使用者帳號或密碼錯誤</p>
        {% elif valid %}
            <p>帳號尚未啟用</p>
        {% endif %}

        <h1>登入</h1>
        
        <form action="" method="post">
            {% csrf_token %}

            <label for="username">email: </label>
            <input type="text" name="username" value="" id="username" required=true> <br/>
            <label for="password">password: </label>
            <input type="password" name="password" value="" id="password" required=true> <br/>

            <input type="submit" value="Login">
        </form>

        <a href='/toolfamily/register/'>Sign Up</a> <br/>
        <a href='/toolfamily/forget/'>forget password?</a>
    </body>
</html>